<script type="text/javascript">
$(document).ready(function() {
		if(!localStorage.getItem("CURBSIDE_STORE_SELECTED")){
			$('#curbsideModal').modal({backdrop: 'static', keyboard: false});
			$('#curbsideModal').modal('show');
		}
		$('input#timepicker').timepicker({
			timeFormat: 'H:mm',
			interval: 20,
			minTime: '10',
			maxTime: '6:00pm',
			defaultTime: '11',
			startTime: '10:00',
			dynamic: false,
			dropdown: true,
			scrollbar: true,
			zindex: 9999999
		});		
		var dt= new Date();
        var yyyy = dt.getFullYear().toString();
        var mm = (dt.getMonth()+1).toString();
        var dd  = dt.getDate().toString();
        var min = yyyy +'-'+ (mm[1]?mm:"0"+mm[0]) +'-'+ (dd[1]?dd:"0"+dd[0]);
        $('#datepicker').prop('min',min);
	} );
	function confirmStore(){
		console.log("inside confirmStore",$('#sel1').val(),$('#sel1 option:selected').text(),$('#datepicker').val(),$('#timepicker').val());
		if(!$('#sel1').val() || !$('#datepicker').val() || !$('#timepicker').val()){
			alert("Required Fields Missing");
		}else{
			let selectedStore={'storeKey':$('#sel1').val(),'name':$('#sel1 option:selected').text(), 'date':$('#datepicker').val(),'time':$('#timepicker').val()};
			localStorage.setItem("CURBSIDE_STORE_SELECTED", JSON.stringify(selectedStore));
			$('#curbsideModal').modal('toggle');
		}
	}
</script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

	<!-- Modal -->
	<div class="modal fade" id="curbsideModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Curbside Pickup</h5>
					<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<form>
					<div class="modal-body">
						<div class="form-group">
							<label for="sel1">Select Store</label>
							<select class="form-control" id="sel1" required>
								<option value="" disabled selected>Select store</option>
								{% for store in stores.list %}
								<option value="{{ store.key }}">{{ store.name }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="email">Select Date</label>
							<input class="form-control" type="date" id="datepicker" required>
						</div>
						<div class="form-group">
							<label for="pwd">Select Time</label>
							<input class="form-control" type="text" id="timepicker" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" onclick="confirmStore()" class="btn btn-primary">Confirm Selection</button>
					</div>
				</form>
			</div>
		</div>
	</div>