<div class="bs-example" id="NAV_1" >
    <nav class="navbar navbar-expand-md navbar-light" id="DIV_2">
        <a href="/" class="navbar-brand">
            <img src="{{header.site_logo.url}}" alt="logo" id="IMG_7">
        </a>
        <div class="ais-VoiceSearch" style="padding-bottom: 6px;">
            <button class="ais-VoiceSearch-button" onclick="runSpeechRecognition()" type="button" title="Search by voice">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z" fill="none">
                       </path>
                       <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
                       <line x1="12" y1="19" x2="12" y2="23"></line>
                       <line x1="8" y1="23" x2="16" y2="23"></line>
                  </svg>
            </button>
          </div>
        <div class="wrap">            
            <form name="searchForm" id="searchForm" method="post">   
            <div class="search">            
                   <input type="text" id="searchBox" class="searchTerm" name="searchterm" placeholder="search here">
                   <button type="submit" class="searchButton">
                     <i class="fa fa-search"></i>                
                  </button>
                </div>
            </form>
        </div>    
        <button id="cart"><a>
            <span class="item-count simpleCart_quantity" style="top: -5;"></span>
            <img src="https://images.contentstack.io/v3/assets/blt11467371f44f3c8c/bltbe3c2be4494ebc7a/5c6160676d61b3c84129f510/combined-shape_(2).svg"
                height="18.5" width="18.5" alt="options" id="IMG_28" /></a>
        </button>
        <button type="button" class="navbar-toggler toggler-btn" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="cart-container">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <div class="shopping-cart-total">
                        <span class="lighter-text">Total:</span>
                        <span class="simpleCart_total"></span>
                    </div>
                </div>
                <div class="simpleCart_items"></div>
                <a href="#" class="simpleCart_checkout_button button">Checkout</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                {% if active==="/" %}
                <a href="/" class="hyper nav-item nav-link active"><span>Home</span></a>
                {% else %}
                <a href="/" class="nav-item nav-link">Home</a>
                {% endif %}
                {% for nav in header.navigation %}
                {% if nav.category[0].url===active %}
                <a href="{{ nav.category[0].url }}"
                        class="hyper nav-item nav-link active routerLink"><span>{{ nav.title }}</span></a>
                {% else %}
                <a href="{{ nav.category[0].url }}" class="hyper nav-item nav-link routerLink"><span>{{ nav.title }}</span></a>
                {% endif %}
                {% endfor %}
            </div>        
        </div>        
    </nav>
    
</div>

		
<script type="text/javascript" src="/js/simpleCart.js"></script>
<script type="text/javascript">


async function createCartFn(cartObj,storeObj){
    let obj= JSON.parse(cartObj);
    let storeDetails = JSON.parse(storeObj);
    let bodyArray=[];
    let storeKey = storeDetails.storeKey;
	console.log(Object.keys);
    Object.keys(obj).map((key)=>{
		console.log('cartCIPROducts');		
		console.log({productId:obj[key].id, quantity:obj[key].quantity});
		//TODO: FIx this Product ID - Remove Hardcoded currently add to cart and checkout works only for http://localhost:4000/product/53426f55-c9ad-4ccb-9314-1055afd43c50
      bodyArray.push({productId:obj[key].id, quantity:obj[key].quantity})
    })

    try {
        let cart =  await fetch(`/createCart/${storeKey}`,{
        method:"POST",
        headers: {
                'Content-Type': 'application/json',
        },
        body:JSON.stringify(bodyArray)
        })
        let cartResponse = await cart.json();
        if(cartResponse.status == 200){
            window.open(`/cart/${cartResponse.cartId}/pay`,'_self');
        }
        else {
            alert("Sorry problem checking out, cart creation Error"+cartResponse.err.message);
        }
    }catch(err){
        alert("Sorry problem checking out, cart creation Error"+err);
    }

  }

    $('.simpleCart_checkout_button').click( async function(event) {     
        console.log("----"+simpleCart.items().length);
        if(simpleCart.items().length > 0){
            createCartFn(window.localStorage.simpleCart_items, window.localStorage.CURBSIDE_STORE_SELECTED); 
        }
    });

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    $('.selectpicker').on('change', function () {
        document.cookie = "locale=" + this.value + ";path=/";

        if (getCookie("locale") !== undefined) {
            if (getCookie(`locale`).split("-", 1) == 'en') {
                if (!((window.location.href).includes('/en'))) {
                    let url = window.location.origin;
                    if (url.endsWith("/")) {
                        history.replaceState(null, null, url + (window.location.pathname).replace("/fr/", ""));
                    } else {
                        if (window.location.href == "{{url}}/fr") {
                            history.replaceState(null, null, url + "/" + (window.location.pathname).replace("/fr", ""));
                        } else {
                            history.replaceState(null, null, url + "/" + (window.location.pathname).replace("/fr/", ""));
                        }
                    }
                }
            }
            else if (getCookie(`locale`).split("-", 1) == 'fr')
                if (!((window.location.href).includes('/fr'))) {
                    let url = (window.location.origin);
                    if (url.endsWith("/")) {
                        history.replaceState(null, null, url + getCookie(`locale`).split("-", 1) + (window.location.pathname).replace("/en", ""));
                    } else {
                        history.replaceState(null, null, url + "/" + getCookie(`locale`).split("-", 1) + (window.location.pathname).replace("/en", ""));
                    }
                }
        }
        url = window.location.href;
        if (url.charAt(url.length - 1) == "/") {
            url = url.substr(0, url.length - 1)
            history.replaceState(null, null, url);
        }
        location.reload();
    });
    (function () {
        if (getCookie("locale") !== undefined) {
            $('.selectpicker').val(getCookie(`locale`));
        }

        function toogleButtonState() {
            if (simpleCart.items().length === 0) {
                $(".simpleCart_empty").attr("disabled", true);
                $(".simpleCart_checkout_button").attr("disabled", true);
            } else {
                $(".simpleCart_empty").attr("disabled", true);
                $(".simpleCart_checkout_button").removeAttr("disabled");
            }
        }
        simpleCart.bind('ready', function () {
            console.log("cart Ready")
            toogleButtonState();
            $(".navbar> #cart").on("click", function () {
                $(".shopping-cart").fadeToggle("fast");
            });
            simpleCart.bind("afterAdd", function (item, isNew) {
                $('html, body').animate({ scrollTop: 0 }, 'medium');
                $(".shopping-cart").fadeIn("medium");
            });
            simpleCart.bind('update', toogleButtonState);
        });
        simpleCart({
            cartStyle: "div",
            cartColumns: [
                { view: "image", attr: "thumb", label: false },
                { attr: "name", label: "Name" },
                { attr: "price", label: "Price", view: "currency" },
                { view: "decrement", label: false, text: " - " },
                { attr:"product_id",label:"Product Id"},
                { attr: "quantity", label: "Qty" },
                { view: "increment", label: false, text: " +" },
                { view: "remove", text: "Remove", label: false }
            ]
        });
    })();
</script>
<style type="text/css">
    @import url("https://use.typekit.net/bek0yja.css");

    .headerRow {
        display: none;
    }

    .cart-container {
        position: absolute;
        z-index: 555;
        right: 0;
        top: 58px;
        top: 110px;
        right: 20px;
    }

    .lighter-text {
        color: #ABB0BE;
    }

    .main-color-text {
        color: #6394F8;
    }

    .badge {
        background-color: #6394F8;
        border-radius: 10px;
        color: white;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        padding: 3px 7px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }

    .shopping-cart .simpleCart_items {
        max-height: 205px;
        overflow-y: auto;
    }

    .shopping-cart {
        display: none;
        float: right;
        background: white;
        width: 320px;
        position: relative;
        border-radius: 3px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 25px 0px;
    }

    .shopping-cart .shopping-cart-header {
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 15px;
        margin-bottom: 7px;
        height: 30px;
    }

    .shopping-cart .shopping-cart-header .shopping-cart-total {
        float: right;
    }

    .shopping-cart .shopping-cart-header .shopping-cart-total .simpleCart_total {
        font-size: 16px;
    }

    .shopping-cart .shopping-cart-items {
        padding-top: 20px;
    }

    .shopping-cart .shopping-cart-items li {
        margin-bottom: 18px;
    }

    .simpleCart_checkout_button {
        width: 100%;
        float: left;
    }

    .itemRow {
        display: block;
        float: left;
        clear: both;
        width: 100%;
    }

    .item-thumb {
        float: left;
        width: 70px;
    }

    .item-name {
        display: block;
        font-size: 15px;
        margin-top: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item-price {
        margin-right: 10px;
    }

    .item-price,
    .item-decrement,
    .item-quantity,
    .item-quantity,
    .item-increment,
    .item-remove {
        display: inline-block;
        margin-right: 6px;
    }

    /* .item-remove {
        position: ;
    } */

    .shopping-cart:after {
        bottom: 100%;
        left: 89%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: white;
        border-width: 8px;
        margin-left: -8px;
    }

    .cart-icon {
        color: #515783;
        font-size: 24px;
        margin-right: 7px;
        float: left;
    }

    .simpleCart_checkout_button {
        width: 70%;
        height: 40px;
        object-fit: contain;
        border-radius: 20px;
        background-color: #262626;
        text-align: center;
        font-size: 22px;
        line-height: 40px;
        border: 1px solid transparent;
        transition: 0.3s;
        margin: 10px auto 0;
        color: #ffff;
        margin-left: 45px;
        margin-top: 10px;
    }

    .simpleCart_checkout_button:hover {
        border-color: #262626;
        background: #fff;
        color: #262626;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Header Menu */
    #NAV_1 {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        font: normal normal 400 normal 14px / 21px futura-pt;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 25px 0px;
        box-sizing: border-box;
        color: rgb(44, 62, 80);
        padding: 0 40px;
        position: relative;
    }

    #NAV_1 #DIV_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-nav .nav-link .active:not(:first-child),
    .navbar-nav .nav-link :hover:not(:first-child)  {
        color: #181818;
    }

    .navbar-nav .nav-link::before {
        content: '';
        position: absolute;
        width: 45%;
        height: 3px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background: transparent;
    }

    .navbar-nav.nav-link.active:not(:first-child)::before,
    .navbar-nav.nav-link:hover:not(:first-child)::before {
        background: #d10024;        
    }

    .navbar-nav .nav-link.active {
        border-bottom: 3px solid #d10024;
    }
    .navbar-nav.nav-link:hover{
        border-bottom: 3px solid #d10024;
    }
    
    .navbar-nav .nav-link{
        display: block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: black !important;
        position: relative;
        padding-bottom: 3px;
        margin-left: 35px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #d10024 !important;
    }
    .toggler-btn:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar #cart{
        right: 22px;
        position: absolute;
        color: #737373;
        text-align: center;
        border: 0px;
        background: none;
        font: normal normal 400 normal 16px / normal futura-pt, sans-serif;
        outline: none;
    }
    #cart .item-count {
        display: inline-block;
        position: absolute;
        right: -6px;
        top: -5px;
        width: auto;
        height: 15px;
        min-width: 15px;
        padding: 0 2px;
        background-color: #dc0008;
        border-radius: 50px;
        text-align: center;
        font-family: futura-pt, sans-serif;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 14px;
        letter-spacing: normal;
        color: #ffffff;
    }

    .selectpicker {
        background: transparent;
        outline: none;
        border: none;
    }

    .catergItem {
        margin-top: 50px;

    }

    .catergItem .p-mask .snipcart-add-item[type=submit] {
        width: 155.3px;
        height: 35px;
        object-fit: contain;
        border-radius: 20px;
        background-color: #262626;
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: inherit;
        border: 1px solid transparent;
        transition: 0.3s;
        color: #ffffff;
        margin: 20px auto 0;
        font-family: futura-pt, sans-serif;
        text-decoration: none;
    }

    .catergItem .p-mask .snipcart-add-item[type=submit]:hover {
        border-color: #262626;
        background: #fff;
        color: #262626;
        text-decoration: none;
    }

    .catergItem h3{
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
        font-family: inherit;
        line-height: 1.4;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .catergItem h4{
        font-size: 16px;
        text-align: center;
        margin-top : 5px;
        font-family: inherit;
        line-height: 1.4;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
    }
    .catergItem h5 {
        font-size: 14px;
        text-align: center;
        padding: 0;
        font-family: inherit;
        line-height: 1.4;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
    }

    .product-img {
        text-align: center;
    }

    .pagination-sec {
        margin: 50px 0;
    }
    img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    input[type="text"].searchTerm {
        float: left;
        padding: 0px;
        margin-bottom: 0px !important;
        height: 25px !important;
        width: 75% !important;
    }
    .searchButton{
        border: 1px solid rgb(209, 0, 36);
        background-color: rgb(209, 0, 36);
        color: white;
    }
    .navbar #cart {
        /* top: 80px; */
        right: 25px;
    }
    .cart-container {
        right: 15px;
        top: 75px;
    }
 
    @media only screen and (min-width: 375px) {
        input[type="text"].searchTerm {
            padding: 3px;
        }
    }
 
    @media only screen and (min-width: 320px) and (max-width: 377px){
        .navbar #cart {
            top: 110px;
        }
        .cart-container {
            right: 25px;
            top: 140px;
        }
    }
 
    @media only screen and (min-width: 378px) and (max-width: 1024px){
        .navbar #cart {
            top: 80px;
        }
        .cart-container {
            right: 25px;
            top: 106px;
        }
    }
 
    @media only screen and (max-width: 992px) {
        .navbar-nav .nav-link{
            font-size: 14px;
        }
   } 
    @media (max-width: 768px){
        #NAV_1 {
            padding: 0;
        }
        .navbar-nav .nav-link {
            margin-left: 0;
        }
        /* .navbar #cart {
            right: 100px;
            top: 25px;
        }
        .cart-container {
            right: 25px;
            top: 106px;
        } */
        .navbar-nav .nav-link.active {
            border-bottom:0;
            text-decoration: underline;
            text-decoration-color:  #d10024;
        }
        .shopping-cart {
            width: 220px;
        }
        .simpleCart_checkout_button {
            margin-left: 26px;
        }
        
    }
</style>
<style type="text/css">
    #DIV_2 {
        display: flex;
    }
</style>
