.item-thumb img {
    vertical-align: middle;
    max-width: 60px;
    max-height: 60px;
    padding: 2.5px 2.5px;
}

.product-img img {
    max-height: 260px;
    max-width: 225px;
    min-width: 225px;
    min-height: 225px;
}

.col-md-4{
    padding: 4px 4px;
}

.item_add_simplecart {
    width: 155.3px;
    height: 40px;
    object-fit: contain;
    border-radius: 20px;
    background-color: #262626;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    border: 1px solid transparent;
    transition: 0.3s;
    color: #ffffff;
}

.item_add_simplecart:hover {
    border-color: #262626;
    background: #fff;
    color: #262626;
}

@import url("https://use.typekit.net/bek0yja.css");

.recommendation {
    position: relative;
}

.recommendation .recommended-carousel {
    margin-top: 60px;
}

#recommended .recommended-slide-text-section .slick-slide {
    width: 285px;
}

.recommendation .slick-initialized .slick-slide {
    padding: 0 5px;
}

.recommendation .recommended-slide-text-section .recommended-slide-title {
    font-family: futura-pt, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #181818;
    margin-top: 10px;
    display: block;
}

.recommendation .recommended-slide-text-section a {
    font-size: 12px;
    color: #737373;
    text-decoration: none;
}

.recommendation .recommended-slide-text-section a:hover {
    text-decoration: underline;
}

div#recommended-text-section {
    width: 18.64%;
    text-align: center;
}

li.recommended-slide-container {
    margin-left: 20px;
    text-align: center;
}

#recommended-carousel-nav .flex-next,
#recommended-carousel-nav .flex-prev {
    width: 34px;
    height: 34px;
    font-size: 12px;
    font-family: futura-pt, sans-serif;
    background-color: #fff;
    color: #737373;
    border: 1px solid #afabab;
    border-radius: 26px;
    transition: 0.3s;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

#recommended-carousel-nav .flex-next:hover,
#recommended-carousel-nav .flex-prev:hover {
    background-color: #181818;
    color: #ffffff;
    border-color: #181818;
}

#recommended-carousel {
    width: 100%;
    padding: 0 60px;
}

#recommended-carousel-nav .flex-prev,
#recommended-carousel-nav .flex-next {
    position: absolute;
    left: 125px;
    top: 52%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .3);
}

#recommended-carousel-nav .flex-next {
    left: auto;
    right: 125px;
}


.flex-direction-nav {
    position: relative;
    top: 15px;
    left: -66px;
    width: 24px;
}

.flex-direction-nav li {
    display: inline-block;
}

.flex-nav-next {
    float: right;
    margin-top: -2px;
}

.flex-direction-nav li a {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}


.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*breadcrumb*/
.arrows {
    white-space: nowrap;
    margin-left: -40px;
    margin-bottom: 0px;
}

.arrows li {
    display: inline-block;
    line-height: 1px;
    margin: 0 0px 0 0px;
    padding: 0 15px;
    position: relative;
}

.arrows li::before,
.arrows li::after {
    border-right: 1px solid #666666;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);
}

.arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.arrows li:last-of-type::before,
.arrows li:last-of-type::after {
    display: none;
}

.arrows li a {
    font: bold 12px Sans-Serif;
    letter-spacing: -1px;
    text-decoration: none;
}

.arrows li:nth-of-type(1) a {
    color: hsl(0, 0%, 70%);
}

.arrows li:nth-of-type(2) a {
    color: hsl(0, 0%, 65%);
}

.arrows li:nth-of-type(3) a {
    color: hsl(0, 0%, 50%);
}

.arrows li:nth-of-type(4) a {
    color: hsl(0, 0%, 45%);
}
.single-top-right h3 {
    font-size: 25px;
}
#DIV_2::before,#DIV_2::after{
    content: none;
}
.simpleCart_shelfItem {
    text-align: center;
}
.collapse.in {
    display: block !important;
}
.navbar-light .navbar-toggler {
    padding: 5px 13px;
    border-radius: .30rem;
}
.navbar-light .navbar-toggler-icon{
    font-size: 20px;
}
@media screen and (max-width: 991px) {
    .single-top-right {
        padding-left: 5em;
    }

    .flex-direction-nav {
        top: 16px !important;
        left: 1px !important;
    }

    .flex-viewport .slides img {
        margin-left: 45px !important;
        width: 81% !important;
        height: 369px !important;
        padding-bottom: 180px;
    }

}

@media screen and (max-width: 890px) {
    .flex-viewport .fiexslider img {
        margin-right: -47px;
    }

    .flex-viewport .flexslider {
        margin: 50px;
    }

    .flex-viewport .flex-control-nav {
        left: -3% !important;
    }
    .flexslider .flex-direction-nav {
        top: 0 !important;
        left: 1px !important;
    }
}

@media (max-width: 768px){
    #NAV_1 {
        padding: 0;
    }
    .navbar-nav .nav-link {
        margin-left: 0;
    }
    .navbar #cart {
        right: 100px;
        top: 25px;
    }
    /* .cart-container {
        right: 80px;
    } */
    .navbar-nav .nav-link.active {
        border-bottom:0;
        text-decoration: underline;
        text-decoration-color: #b1b110;
    }
    .shopping-cart {
        width: 220px;
    }
    .simpleCart_checkout_button {
        margin-left: 26px;
    }
    .flexslider .flex-direction-nav {
        top: -143px !important;
        left: -66px !important;
    }
    .slick-slider .slick-track, .slick-slider .slick-list {
        max-width: 500px;
        width: 100% !important;
        margin: 0 auto;
    }
    .recommendation .slick-initialized .slick-slide{
        width: 100% !important;
    }
    .slick-slide img {
width: auto;
height: auto;
margin: 0 auto;
}
}
@media screen and (max-width: 440px) {
    .flex-control-nav {
        margin-left: -3px !important;
    }
    .flex-viewport .slides img {
        margin-left: 0px !important;
    }

    .flexslider .flex-direction-nav {
        left: -98px !important;
    }
}
@media (max-width:1200px) {
    .flex-direction-nav {
        left: -50px;
    }
}
@media (max-width:992px) {
    .flex-direction-nav {
        left: -30px !important;
    }
}