/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

@import url("https://use.typekit.net/bek0yja.css");

/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
    height: 100%;
	background: #FFF;
	font-family: futura-pt, sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing:1px;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
.vcenter{
    float: none;
    display: inline-block;
    vertical-align: middle;
}
/*-- //Reset Code --*/

/*--header--*/
.header-top-w3layouts {
    padding: 10px 0;
}
.logo-w3{
	width:50%;
	float:left;
}
.logo-w3 a{
    display: inline-block;
}
.logo-w3 a h1,.footer a h3{
	text-align:left;
	color:#000;
	font-size:40px;
	position:relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}
.logo-w3 img{
    height: 55px;
    width: auto;
}
.footer img {
    width: 7%;
    position: absolute;
    top: 0;
    left: -28px;
}
.footer img {
	width:13%;
	top: 2px;
    left: -22px;
}
.logo-w3 a h1 span{
    color: #999;
    font-size: 15px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    letter-spacing: 0;
    vertical-align: middle;
}
.navigation-agileits .navbar-collapse{
    padding-right: 0;
    padding-left: 0;
    border-top: 0;
}
.footer a h3 span {
    color: #999;
    font-size: 15px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    letter-spacing: 0;
    position: absolute;
    top: 15px;
    left: 147px;
}
.phone-w3l {
    text-align: right;
	width:50%;
	float:left;
}

.phone-w3l ul {
    margin-top: 10px;
}
.phone-w3l ul li{
	display:inline;
	font-size:16px;
}
.header-bottom-w3ls {
    background: #f8f8f8;
	padding:10px 0;
}
.navbar-default {
    border-color: transparent;
}
.dropdown-menu ul li {
    list-style-type: none;
	text-align:center;
	padding:7px 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:#00e58b;
}
.navbar{
    min-height: 40px;
}
.search-agileinfo input[type="search"] {
    width: 87%;
    padding:10px;
    font-size: 1em;
    color: #999;
    outline: none;
    border: 1px solid #cccccc;
    background: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.navbar {
    margin-bottom:0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color:#00e58b;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	  color:#fff;
	   background-color:#00e58b;
}
.dropdown-menu.multi {
    min-width: 745px;
    padding: 30px 30px;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #737373 !important;
    white-space: normal;
    font-size: 13px;
	text-align:left;
}
i.fa.fa-angle-right {
    font-size: 15px;
    margin-right: 5px;
}
.search-agileinfo input[type="search"] {
	margin-top:5px;
}
.search-agileinfo i.fa.fa-search {
    font-size: 17px;
	color:#fff;
}
button.search {
    border: none;
    position: absolute;
    top: 4px;
    right: 11px;
    width: 47px;
    height: 43px;
    outline: none;
    box-shadow: none;
    background:#00e58b;
    padding: 0;
    border-radius: inherit;
    -webkit-appearance: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.btn-default:hover {
    background-color:#000;
    border:none;
}
.cart{
    position: relative;
    text-align: right;
    padding-right: 30px;
}
.cart .shopping-cart{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 30px;
    color: #00e58b;
    font-size: 20px;
    font-weight: bold;
}

.cart-wthree .fa {
    font-size: 34px;
    margin-top: 7px;
}
button.w3view-cart {
    background: transparent;
    border: none;
}
button.w3view-cart:focus{
	outline:none;
}
/*--//header--*/


/*--banner--*/
.banner-agile{
	background:url(../images/banner2.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:580px;
}
.sub-banner{
	background:url(../images/banner2.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:280px;
}
.my-banner2{
	background:url(../images/clothsbanner.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:480px;
}
.my-banner3{
	background:url(../images/menbanner.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:480px;
}
.my-banner4{
	background:url(../images/jewelbg.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:480px;
}
.banner-agile h2{
	font-size:35px;
	text-align:left;
	margin-top:18%;
	color: #00e58b;
}
.banner-agile h3{
	font-size:50px;
	text-align:left;
	margin:15px 0;
	color:#fff;
	font-weight:700;
}
.banner-agile h3 span{
	color:#00e58b;
}
.banner-agile p{
	width:49%;
	font-size:14px;
	line-height:28px;
	text-align:left;
	color: #c2cac7;
}
.banner-agile a{
	background:#000;
	color:#fff;
	font-size:14px;
	display:inline-block;
	padding:8px 15px;
	margin-top:20px;
}
.banner-agile a:hover{
	background:#00e58b;
}
/*--//banner--*/


/*--banner bottom--*/
.banner-bootom-w3-agileits,.top-products,.fandt,.top-brands,.newsletter,.footer,.content,.contact,.about,.team,.main-grid-border,.faq,.products,.collpse.tabs,.login,.check-out,.payment{
	padding:50px 0;
}
.no-pro{
    margin-top: 30px;
    text-align: center;
}
.recommendation.remove-arw {
    display: none;
}
.footer-sec{
    /*background: #f8f8f8;*/
    /*padding: 25px 0;*/
    /*margin-top: 30px;*/
    background: #f8f8f8;
    padding: 20px 0;
    margin: 30px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}

.footer-link{
    float: left;
}
.copyright-text{
    /*margin-top: 5px;*/
    /*float: left;*/
    /*text-align: center;*/
    margin-right: 3px;
    display: inline;
    vertical-align: super;
}
.social {
    /*float: right;*/
    float: none;
    display: inline-block;
    /*border-left: 1px solid rgba(51, 51, 51, 0.57);*/
    padding-left: 10px;
    vertical-align: sub;
    position: relative;
    margin-bottom: -1px;
}
.social:before{
    content: "";
    display: block;
    width: 1px;
    background-color: #333;
    height: 20px;
    left: 0;
    bottom: 3px;
    position: absolute;
}
.social ul {
    display: table;
}
.social ul li {
    display: table-cell;
    vertical-align: middle;
    padding-right: 4px;
}
.social ul li a {
    height: 29px;
    width: 29px;
    display: block;
    border-radius: 50%;
    border: 2px solid #333;
    text-align: center;
    overflow: hidden;
}
.social ul li a span {
    display: block;
    padding: 0;
    line-height: 1;
}
.social ul li a span i {
    color: #333;
    font-size: 18px;
    margin: 3px 0px 1px 1px;
}
.social ul li a:hover {
    text-decoration: none;
    color: #00e58b;
    border: 2px solid #00e58b;
}
.social ul li a:hover i {
    color: #00e58b;
}
.social ul li a span i.fa-twitter {
    margin: 5px 0px 1px 1px;
}
.social ul li a span i.fa-facebook {
    margin: 5px 0px 0px 0px;
}
.social ul li a span i.fa-github{
    margin: 4px 0px 0px 1px;
}
/***Pagination***/
.page-count{
    float: left;
    margin: 0 4px;
    background: #f8f8f8;
    padding: 11px;
    border: 1px solid #ddd;
}
.total-page-count{
    float: left;
    margin: 0 4px;
    background: #f8f8f8;
    padding: 11px;
    border: 1px solid #ddd;
}
.pagination-sec{
    text-align: center;
    display: block;
    float: left;
    width: 100%;
}
.pagination-sec .pagination {
    display: inline-block;
    /*margin: 50px 0 30px;*/
    margin: 50px 0 150px;
}

.pagination-sec .pagination a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #484848;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination-sec .pagination a.active {
    background-color: #00e58b;
    color: #fff;
    border: 1px solid #00e58b;
}

.pagination-sec .pagination a:hover:not(.active) {
    background-color: #ddd;
}

.top-products h3,.features h3,.top-brands h3,.contact h3,.about h3,.team h3,h3.agileits-icons-title,.faq h3,.products h3,.login h3,.check-out h3,.payment h3{
	font-size:40px;
	color:#000;
	margin-bottom:40px;
}
.bb-grids img{
	width:100%;
}
.bb-left-agileits-w3layouts-inner{
	background:url(../images/bb1.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:500px;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
	width:100%;
}
.bb-left-agileits-w3layouts-inner:hover {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
.bb-middle-top{
	background:url(../images/bb2.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:235px;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
	width:100%;
}
.bb-middle-top:hover {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
.bb-middle-bottom{
	background:url(../images/bb4.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:235px;
	margin-top:30px;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
	width:100%;
}
.bb-middle-bottom:hover {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
.bb-right-top{
	background:url(../images/bb3.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:235px;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
	width:100%;
}
.bb-right-top:hover {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
.bb-right-bottom{
	background:url(../images/bb5.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:235px;
	margin-top:30px;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
	width:100%;
}
.bb-right-bottom:hover {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -o-transform: scale3d(1.1, 1.1, 1);
    -ms-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
.banner-bootom-w3-agileits h3{
	color:#fff;
	font-size:40px;
	padding-top:22%;
}
.bb-left-agileits-w3layouts h3{
	padding-top:41%;
}
.banner-bootom-w3-agileits h4{
	color:#fff;
	font-size:20px;
}
.banner-bootom-w3-agileits h4 span{
	font-size:50px;
	font-weight:700;
	margin-left:10px;
}
/*--//banner bottom--*/


.simpleCart_shelfItem h2.item_name { display: none;}


/*--top products--*/
/*--SAP--*/
.sap_tabs{
	clear:both;
	padding: 0;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    padding: 0 0 3em;
    margin: 0 auto;
    text-align: center;
}
.resp-tab-item {
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.2em 0;
	border-bottom: 2px solid #fff;
	color:#999;
	padding:7px 15px;
	border:1px solid #999;
}

.resp-tab-active {
    color: #000;
    border-color: #000;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

.tab_img{
	padding:2em 0 0;
	display: inline-block;
}
/*--//SAP--*/
ul.resp-tabs-list{
	position:relative;
}
ul.resp-tabs-list li:nth-child(2):before {
    content: '';
    background: #999;
    width: 3.7%;
    height: 1px;
    position: absolute;
    top: 24%;
    left: 33.8%;
}
ul.resp-tabs-list li:nth-child(2):after{
    content: '';
    background: #999;
    width: 3.7%;
    height: 1px;
    position: absolute;
    top: 24%;
    left: 45.5%;
}
ul.resp-tabs-list li:nth-child(3):after{
    content: '';
    background: #999;
    width: 3.7%;
    height: 1px;
    position: absolute;
    top: 24%;
    left: 59.1%;
}
.top-product-grids,.women-grids{
	text-align:center;
}
.product-img{
	position:relative;
	box-shadow:0 0 1px #bbb;
	padding:10px;
}
.recommendation{
    /* border-top: 1px solid #a59f9f; */
    padding-top: 50px;
    margin-bottom: 150px;/**for footer fixed**/
}
.recommendation .product-img{
	box-shadow: none;
}
.recommendation > h4{
    padding-bottom: 15px;
    display: block;
    font-size: 32px;
    font-weight: 300;
    color: #181818;
    position: relative;
    text-align: center;
}
.recommendation > h4::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #b1b110;
}
.recommendation .product-img{
    margin: 0 15px;
}
.recommendation .product-item .product-img{
    /* height: 284px; */
}

.product-img .p-mask, .row .product .vm-product-media-container .p-mask {
    opacity: 0;
    visibility: hidden;
    background:rgba(0, 0, 0, 0.52);
    bottom: 0%;
	left:0;
    position: absolute;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: left;
}
.product-img .p-mask .p-desc{
    color: #a3a3a3;
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}
.product-img:hover .p-mask, .row .product:hover .p-mask {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
	left:0;
}
.top-product-grids .fa-star{
	margin-top:15px;
}
i.yellow-star{
	color:#ffac00;
}
i.gray-star{
	color:#808080;
}
.top-product-grids h4,.women-grids h4{
    font-size: 18px;
    color: #484848;
	margin:10px 0;
}
.women-grids h4{
    height: auto;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 24px;
}
.top-product-grids h5,.women-grids h5{
    font-size: 18px;
    font-weight: 700;
}
button.w3ls-cart.pw3ls-cart {
    background: transparent;
    border: none;
	font-size:16px;
	color:#fff;
	text-align:center;
	width:100%;
	padding:1em;
	text-align:left;
}
button.w3ls-cart.pw3ls-cart:focus{
	outline:none;
}
button.w3ls-cart.pw3ls-cart .fa{
	margin-right:10px;
}
.top-products-set2{
	margin-top:40px;
}
/*--//top products--*/

/*--features and testimonials--*/
.features h3{
	text-align:left;
}
.features .fa {
    font-size: 28px;
    border: 1px solid #000;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 55px;
}
.support,.shipping,.money-back{
	transition: 1s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-ms-transition: 1s all;
}

/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  background:#00e58b;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}

.features  h4,.testimonials h4{
	text-align:left;
	font-size:18px;
	font-weight:700;
}
.features p,.testimonials p,.about-info .pince-right p,.about-info p,.but_list p,.products p,.payment p{
	font-size:14px;
	color:#999;
	line-height:28px;
}
.shipping{
	margin:30px 0;
}
.testimonials {
    background: rgba(232, 232, 232, 0.46);
    padding: 30px;
}
.test-inner{
	padding:30px;
	border:2px solid #fff;
}
/*-- wmuslider --*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {

}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
    position: absolute;
    left: 44%;
    bottom: 6%;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background: #CFCFCF;
	border-radius:50%;
}
.wmuSliderPagination a.wmuActive {
	background: #00e58b;
    box-shadow: 0px 0px 10px #00e58b;
	-webkit-box-shadow: 0px 0px 10px #00e58b;
	-moz-box-shadow: 0px 0px 10px #00e58b;
	-o-box-shadow: 0px 0px 10px #00e58b;
	-ms-box-shadow: 0px 0px 10px #00e58b;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.banner-wrap {
    padding: 0 0 4em;
}
/*-- //wmuslider --*/
.wmuSlider .wmuSliderWrapper article img {
    width: 25%;
	margin:0 auto;
}
.testimonials h4,.testimonials p{
	text-align:center;
}
.testimonials p{
	margin:20px 0;
}
/*-- //fandt --*/




/*--newsletter--*/
.newsletter {
    background: #ECECEC;
}
.newsletter h3,.newsletter h2{
	margin-bottom:5px;
	text-align:left;
	color:#000;
	font-size:40px;
}
.w3agile_newsletter_right input[type="email"] {
    outline: none;
    padding: 10px;
    color: #212121;
    font-size: 14px;
    width: 70%;
    background: #fff;
    border: 1px solid #DBDBDB;
    float: left;
}
.w3agile_newsletter_right input[type="submit"] {
    outline: none;
    padding: 10px 0;
    width: 15%;
    border: none;
	background-color: #00e58b;
	color:#fff;
}
.w3agile_newsletter_right input[type="submit"]:hover{
	background:#000;
}
/*-- //newsletter--*/


/*-- footer--*/
.footer h4{
	font-size:25px;
	text-align:left;
	color:#000;
	font-weight:700;
	margin-bottom:20px;
}
.fgd1 h3{
	margin-bottom:12px;
}
.fgd1 .fa {
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 33px;
    border: 1px solid #000;
    margin: 6px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	color:#000;
}
.fgd1 i.fa.fa-twitter {
    margin-left:0;
}
.fgd1 i.fa.fa-twitter:hover{
	background:#1da1f2;
	color:#fff;
	border:1px solid #1da1f2;
}
.social-icon a .fa-twitter:hover{
	color:#1da1f2;
}
.fgd1 i.fa.fa-dribbble:hover{
	background:#ea4c89;
	color:#fff;
	border:1px solid #ea4c89
}
.social-icon a .fa-dribbble:hover{
	color:#ea4c89;
}
.fgd1 i.fa.fa-facebook:hover{
	background: #3b5998;
	color:#fff;
	border:1px solid #3b5998;
}
.social-icon a .fa-facebook:hover{
	color: #3b5998;
}
.fgd1 i.fa.fa-linkedin:hover{
	background:#0077b5;
	color:#fff;
	border:1px solid #0077b5;
}
.social-icon a .fa-linkedin:hover{
	color:#0077b5;
}
.footer ul li{
	font-size:14px;
	list-style-type:none;
	line-height:35px;
}
.footer ul li a{
	color:#000;
}
.footer ul li a:hover{
	color:#00e58b;
}
p.copy-right{
	margin-top:40px;
	text-align:center;
	font-size:14px;
	color:#363636;
}
 p.copy-right a{
	color:#363636;
 }
  p.copy-right a:hover{
	text-decoration:underline;
 }
/*-- //footer--*/

.product-item .product-img{
    height: 312px;
    overflow: hidden;
}

.product-item .product-img > img{
    height: 100%;
}

.women-dresses .women-grids{
    margin-top: 20px;
}


/*-- cart-css --*/
#PPsbmincart form {
    position: relative;
    padding: 1em;
    background: #fbfbfb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    border-radius: 4px;
    color: #333;
	-webkit-box-shadow: 0px 0px 5px 2px #9a9a9a;
	-moz-box-shadow: 0px 0px 5px 2px #9a9a9a;
	-o-box-shadow: 0px 0px 5px 2px #9a9a9a;
	-ms-box-shadow: 0px 0px 5px 2px #9a9a9a;
    box-shadow: 0px 0px 5px 2px #9a9a9a;
}
#PPsbmincart form  ul {
    overflow-y: scroll;
    max-height: 300px;
}
#PPsbmincart {
    display: none;
    position: fixed;
    left: 68%;
    top: 20%;
	width: 420px;
}
.sbmincart-showing #PPsbmincart {
    display: block;
    z-index: 9999;
    -webkit-animation: zoomIn .3s ease;
	-moz-animation: zoomIn .3s ease;
	-o-animation: zoomIn .3s ease;
	-ms-animation: zoomIn .3s ease;
	animation: zoomIn .3s ease;
}
#PPsbmincart form.sbmincart-empty {    font-size: 16px;    font-weight: bold;}
#PPsbmincart ul {    clear: both;    float: left;    width: 100%;    margin: 5px 0 20px;    padding: 1em;    list-style-type: none;    background: #fff;    border: 1px solid #ccc;    border-radius: 4px;    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);}
#PPsbmincart .sbmincart-empty ul {    display: none;}
#PPsbmincart .sbmincart-closer {
    float: right;
    margin: -12px -10px 0;
    padding: 0 10px;
    background: 0;
    border: 0;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
#PPsbmincart .sbmincart-item {
    clear: left;
    padding: 7px 0;
    min-height: 35px;
}
#PPsbmincart .sbmincart-item + .sbmincart-item {    border-top: 1px solid #f2f2f2;}
#PPsbmincart .sbmincart-item a {    color: #333;    text-decoration: none;}
#PPsbmincart .sbmincart-details-name {    float: left;    width: 62%;}
#PPsbmincart .sbmincart-details-quantity {    float: left;    width: 15%;}
#PPsbmincart .sbmincart-details-remove {    float: left;    width: 7%;}
#PPsbmincart .sbmincart-details-price {    float: left;    width: 16%;    text-align: right;}
#PPsbmincart .sbmincart-attributes {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    overflow: inherit;
    height: inherit;
}
#PPsbmincart .sbmincart-attributes li {    display: inline;}
#PPsbmincart .sbmincart-attributes li:after {    content: ",";}
#PPsbmincart .sbmincart-attributes li:last-child:after {    content: "";}
#PPsbmincart .sbmincart-quantity {    width: 30px;    height: 18px;    padding: 2px 4px;    border: 1px solid #ccc;    border-radius: 4px;    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);    font-size: 13px;    text-align: right;    transition: border linear 0.2s, box-shadow linear 0.2s;    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;}
#PPsbmincart .sbmincart-quantity:hover {    border-color: #0078C1;}
#PPsbmincart .sbmincart-quantity:focus {    border-color: #0078C1;    outline: 0;    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(0, 120, 193, 0.4);}
#PPsbmincart .sbmincart-remove {    width: 18px;    height: 19px;    margin: 2px 0 0;    padding: 0;    background: #b7b7b7;    border: 1px solid #a3a3a3;    border-radius: 3px;    color: #fff;    font-size: 13px;    opacity: 0.70;    cursor: pointer;}
#PPsbmincart .sbmincart-remove:hover {    opacity: 1;}
#PPsbmincart .sbmincart-footer {
    clear: left;
    text-align: center;
    margin-left: -1em;
}
p.sbmincart-empty-text {
    color: #f44336;
    font-weight: 500;
}
#PPsbmincart .sbmincart-subtotal {
    position: relative;
    bottom: 3px;
    padding-left: 0;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 0.5em;
}
#PPsbmincart .sbmincart-submit {    position: absolute;    bottom: 10px;    right: 10px;    min-width: 153px;    height: 33px;    margin-right: 6px;    padding: 0 9px;    border: 1px solid #ffc727;    border-radius: 5px;    color: #000;    text-shadow: 1px 1px 1px #fff6e9;    cursor: pointer;    background: #ffaa00;    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjZlOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmFhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);    background: -moz-linear-gradient(top, #fff6e9 0%, #ffaa00 100%);    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff6e9), color-stop(100%,#ffaa00));    background: -webkit-linear-gradient(top, #fff6e9 0%,#ffaa00 100%);    background: -o-linear-gradient(top, #fff6e9 0%,#ffaa00 100%);    background: -ms-linear-gradient(top, #fff6e9 0%,#ffaa00 100%);    background: linear-gradient(to bottom, #fff6e9 0%,#ffaa00 100%);}
#PPsbmincart .sbmincart-submit img {    vertical-align: middle;    padding: 4px 0 0 2px;}
/* Let's get this party started */
#PPsbmincart form  ul::-webkit-scrollbar {
    width: 5px;
}
/* Track */
#PPsbmincart form  ul::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #f44336;
	-moz-box-shadow: inset 0 0 6px #f44336;
	-o-box-shadow: inset 0 0 6px #f44336;
	-ms-box-shadow: inset 0 0 6px #f44336;
	box-shadow: inset 0 0 6px #999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
/* Handle */
#PPsbmincart form  ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
    border-radius: 10px;
    background: #00e58b;
	-moz-box-shadow: inset 0 0 6px #00e58b;
	-o-box-shadow: inset 0 0 6px #00e58b;
	-ms-box-shadow: inset 0 0 6px #00e58b;
    -webkit-box-shadow: inset 0 0 6px #00e58b;
	box-shadow: inset 0 0 6px #00e58b;
}
/*-- //cart-css --*/

/*-- women --*/

.w3ls_dresses_grid_left_grid h3 {
    font-size: 1.5em;
    color: #212121;
    padding-left: 2em;
    position: relative;
    margin: 1em;
	text-align:left;
}
.w3ls_dresses_grid_left_grid h3:before {
    content: '';
    background: #00e58b;
    width: 10%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0%;
}
.w3ls_dresses_grid_left_grid_sub {
    border: 1px solid #E1E1E1;
    width: 70%;
    margin: 0 auto;
    padding: 2em 1.5em 1em;
}
.ecommerce_color ul li a,.ecommerce_dres-type ul li a{
    font-size: .95em;
    color: #212121;
    text-decoration: none;
}
.ecommerce_color ul li a i {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 1em;
    border-radius: 20px;
    background: red;
}
.ecommerce_color ul li,.ecommerce_dres-type ul li {
    list-style-type: none;
    margin-bottom: 1em;
}
.ecommerce_color ul li:nth-child(2) a i {
    background: brown;
}
.ecommerce_color ul li:nth-child(3) a i {
    background: #ffd400;
}
.ecommerce_color ul li:nth-child(4) a i {
    background: #d382ee;
}
.ecommerce_color ul li:nth-child(5) a i {
    background: #ff5e00;
}
.ecommerce_color ul li:nth-child(6) a i {
    background: #0000ff;
}
.dresses_img_hover {
    margin-top: 40px;
    position: relative;
}
.dresses_img_hover_pos {
    position: absolute;
    top: 26%;
    left: 24px;
}
.dresses_img_hover_pos h4 {
    color: #fff;
    font-size: 25px;
}
.dresses_img_hover_pos h4 span {
    display: block;
    font-weight: 700;
    margin: 10px 0;
    font-size: 45px;
}

.women-set2{
	margin:75px 0;
}
/*-- //women--*/
/*--Contact--*/
.contact-left h4,.contact-left h5{
	text-align:left;
}
.phone{
	margin:25px 0;
}
.address h4, .phone h4, .email h4 {
    margin-bottom: 7px;
    color: #000;
    font-weight: 600;
	font-size:16px;
}
.address h5,.phone h5,.email h5{
	line-height:30px;
	color:#6B6B6B;
	font-size:14px;
	font-family:'open sans';
	letter-spacing:0px;
}
.email h5  a{
	color: #6B6B6B;
}
.contact input[type="text"] {
    width: 47%;
    padding: 10px;
    background: transparent;
	border:1px solid #000;
    margin: 10px 14px 13px 0px;
    color: #000;
	outline:none;
}
.contact textarea{
	width:96%;
	border:1px solid #000;
	resize:none;
	padding:10px;
	height:180px;
	outline:none;
}
.contact input[type="submit"] {
   background: #00e58b;
    padding: 8px 15px;
    outline: none;
	margin-top:10px;
	color:#fff;
	border:none;
}
.contact input[type="submit"]:hover{
	background:#000;
}
/*--//contact--*/

/*--Map --*/

.map-w3ls  iframe {
    width: 100%;
    height: 350px;
    border: 5px solid #FAFAFA;

}
/*-- //Map--*/
/*-- about --*/
.about h4 {
    font-size: 2.2em;
    color: #00e58b;
    text-align: left;
}
.about img {
    width: 100%;
}

.about-info p {
    margin: 1em 0 1.5em;
}
.pince {
    margin-top: 2.5em;
}
.pince-left {
    float: left;
    width: 16%;
    text-align: center;
    padding: 1em;
    border: 1px solid #0057b1;
    border-radius: 50%;
}
.pince-right {
    float: right;
    width: 75%;
}
.pince h5 {
    font-size: 1.5em;
    color:#0057b1;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.about-info .pince-right p{
	margin:0;
}
.pince:hover h5{
	transform: rotatey(360deg);
	-webkit-transform: rotatey(360deg);
	-moz-transform: rotatey(360deg);
	-o-transform: rotatey(360deg);
	-ms-transform: rotatey(360deg);
}

/*-- related product --*/
.about-w3ls-row {
    background:#00e58b;
    margin-right: 5em;
    padding:1.5em;
}
.biseller-column img {
    width: 100%;
}
 /*#flexiselDemo3 {*/
	/*display: none;*/
/*}*/
.nbs-flexisel-container {
	position: relative;
	width: 100%;
    max-width: 100%;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding:0;
	cursor: pointer;
	position: relative;
	line-height: 0;
}
.nbs-flexisel-ul .women-grids h4{
    height: auto;
    line-height: 20px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
.grid-flex{
	margin:10px 0 20px 0;
}
.nbs-flexisel-item > img {
	cursor: pointer;
}
.biseller-info {
	margin:1em 0 0 0;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    width: 34px;
    height: 34px;
    font-size: 12px;
    background-color: #fff;
    color: #737373;
    border: 1px solid #afabab;
    border-radius: 26px;
    transition: 0.3s;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.nbs-flexisel-nav-left:hover, .nbs-flexisel-nav-right:hover{
	background-color: #181818;
    color: #ffffff;
    border-color: #181818;
}
.nbs-flexisel-nav-left {
    left: 115px;
    /* background: url(../images/img-sprite.png) no-repeat 5px center; */
    /* background-color:#00e58b; */
}
.nbs-flexisel-nav-right {
	right: 115px;
    /* background: url(../images/img-sprite.png) no-repeat -20px center; */
    /* background-color: #00e58b; */
}
/*----*/
/*-- products --*/
.products {
    /*background: url(../images/a.jpg)no-repeat center 0px;*/
	background-size: cover;
	padding-top: 65px;
}
.products .title h3 {
    text-align: left;
}
.products .title p{
    text-align: left;
}
.products .title p {
    margin: 1em 0;
    color: #EAEAEA;
    text-align: left;
}
/*-- //products --*/
/*--product slider--*/
.flex-control-nav {
	/* top: 36px !important; */
	margin-left: 48px;
}
.flex-control-thumbs li:nth-child(2){
    margin: 0.6em 0 !important;
}
.flex-control-thumbs li{
    margin: 0.6em 0 !important;
}
.flex-control-thumbs img {
    width: 80% !important;
    height: 116px !important;
}
@media (max-width: 1280px)
{ 
	.slides img{
		margin-left: 70px;
		width:80%;
	}
	.landingForm .contact-us-form .mktoForm .mktoField {
		width: 242px !important;
	}

	.landingForm .contact-us-form textarea {
		width: 89%;
	}
    /* .flex-control-nav {
        left: -19% !important;
	} */
	/* margin-left: 49px;
	.slides img {
		margin-right: -47px;
	} */
}
@media screen and (max-width: 991px)
{
	.single-top-right {
		padding-left: 5em;
	}

	.flex-direction-nav {
		top: 16px !important;
    left: 1px !important;
	}

	.slides img {
		margin-left: 188px;
    width: 56%;
    height: 369px !important;
	}

	.landingForm .contact-us-form .mktoForm .mktoField {
	 width: 196px !important;
    } 
	.fiexslider img {
		margin-right: -47px;
	}
    .flex-control-nav {
        width: 25% !important;
    }
    .flex-control-nav {
        top: 0px !important;
    }
}
@media screen and (max-width: 890px)
{.fiexslider img {
	margin-right: -47px;
}
    .flexslider{
        margin: 50px;
    }
    .flex-control-nav {
        left: -3% !important;
    }
}
@media screen and (max-width: 767px)
{
    .flex-control-thumbs img {
        width: 100px !important;
        height: 72px !important;
    }
    .flex-viewport{
        width: 230px;
    }
    .flexslider{
        float: left;
        padding-left: 30%;
    }
    .flex-control-nav {
        left: 10% !important;
    }
    .single-top-right {
        margin-top: 85px;
    }
    .single-top-left {
        width: 100% !important;
        margin: 0 !important;
        height: 330px;
    }
    .cart-wthree{
        position: absolute;
        right: 0;
    }
}
@media screen and (max-width: 736px)
{

    /*.flexslider{*/
        /*margin: 59px 100px 50px 189px;*/
    /*}*/
    /*.single-top-left {*/
        /*width: 80% !important;*/
        /*margin-bottom: 70px;*/
        /*float: none;*/
    /*}*/
    .flex-control-nav {
        width: 18% !important;
    }
}
/**/
/*-- team --*/
.team-img {
    position: relative;
}
.team-img .overlay {
    padding: 7.5em 0.5em;
    line-height: 24px;
}
.team-img:hover .overlay {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1,1);
    -moz-transform: rotateY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) scale(1,1);
    -o-transform: rotateY(0deg) scale(1,1);
    transform: rotateY(0deg) scale(1,1);
}
.team-img .overlay {
   padding: 9em 0.5em;
    line-height: 24px;
}
.overlay {
    background:hsla(156, 100%, 45%, 0.48);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5,0.5);
    -moz-transform: rotateY(180deg) scale(0.5,0.5);
    -ms-transform: rotateY(180deg) scale(0.5,0.5);
    -o-transform: rotateY(180deg) scale(0.5,0.5);
    transform: rotateY(180deg) scale(0.5,0.5);
}

.team-grid h4 {
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    padding: 0.5em 0 0.3em;
    font-weight: 700;
    text-align: left;
}
.team-grid h5{
    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    text-align: left;
}
.social-icon a {
    padding: 10px;
    color: #fff;
    font-size: 21px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/*-- //team --*/
.about-bottom{
	background:url(../images/abtbtm.jpg) no-repeat 0px 0px;
	background-size:cover;
	padding:100px 0;
	background-attachment:fixed;
}
.about-bottom h3 {
    text-align: right;
    font-size: 30px;
    font-weight: 700;
	color:#fff;
}
.about-bottom  h4{
	margin:20px 0;
	font-size:20px;
	color:#fff;
	text-align:right;
}
.about-bottom  a{
	padding:8px 20px;
	background:#00e58b;
	color:#fff;
	float:right;
}
/*-- icons --*/
.icon-box {
    padding: 8px 15px;
    background: rgba(150, 153, 154, 0.42);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.icon-box a{
	color:#000;
}
.icon-box:hover {
    background: #000;
}
.icon-box:hover a.agile-icon {
    color: #fff;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(150, 153, 154, 0.42);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.grid_3.grid_4,.grid_3.grid_5 {
    padding-bottom: 50px;
}
/*-- //icons --*/

/*-- typography --*/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border:none;
}
.but_list h2,.but_list h4,.but_list h6{
	margin:20px 0;
}
.but_list p{
	text-align:left;
}
h3.head-top {
    font-size: 30px;
    margin: 30px 0;
    font-weight: 700;
}
/*-- //typography--*/
/*-- faq --*/
.faq h4{
	text-align:left;
}
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:30px 15px;
}
.panel-title > a{
    font-size: 1em;
    color:#212121;
    text-transform: capitalize;
	text-decoration: none;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border-color: #FFF;
	color:#212121;
    background-color: #fff;
}
.panel-body {
    padding: 2em;
    font-size: 14px;
    line-height: 2em;
    color: #999;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.check-out .td-data .fa-cart-plus {
    display: none;
}
/*-- //faq --*/

/*--- Responsive Code ---*/

@media screen and (max-width: 480px){
	.panel-body {
		padding: 1.5em;
	}
	.panel-heading {
		padding: 25px 15px;
	}
}
@media screen and (max-width: 384px){
	.panel-heading {
		padding: 20px 15px;
	}
}
@media screen and (max-width: 320px){
	.panel-title > a {
		font-size: 15px;
	}
	.panel-body {
		padding: 1em;
	}
}
/*-- single-page --*/
.modal-body{
    text-align: center;
}
/* .single-top-left {
    /* margin-left:5%;
    width: 34%;
} */

.single-top-right h3 {
    text-transform: capitalize;
    font-size: 2em;
    color: #333;
    margin-bottom: 0.6em;
    text-align: left;
}
.single-top-right ul li {
	display: inline-block;
	margin-left: 3px;
	color: #0280e1;
}
.single-top-right {
	padding-left: 5em;
	float: right;
}
.single-rating {
    margin: 1em 0;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1em;
}
.single-top-right ul li.rating {
    margin: 0 1.5em;
    color: #999;
    font-size: 1em;
}
.single-top-right ul li a{
    color: #999;
}
.single-top-right ul li a:hover{
    color: #0280e1;
}
.actual-price {
    margin: 0px 15px 0 0;
    float: left;
}
.actual-price del{
    font-size: 1.7em;
    font-weight: 300;
    color: #999;
}
.single-price{
    overflow: hidden;
}
.single-price ul li {
    margin-right: 1em;
    font-size: 1em;
    color: #999;
}
.single-price ul li:nth-child(1) {
    font-size: 1.5em;
    font-weight: 300;
    margin-right: 0.5em;
    vertical-align: super;
}
.single-price ul li.offer-price-text {
    font-style: normal;
    /* background: #333333; */
    text-decoration: none;
    padding: 0.2em 0.3em;
    color: #262626;
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    vertical-align: super;
}
.single-price ul li span.w3off {
    font-size: 1.5em;
    color: #0280e1;
}
.single-price.price ul li a {
    color: #f44336;
}
.single-price.price ul li a:hover{
    color: #999;
}
p.single-price-text {
	margin: 1.5em 0 29px 0;
	font-size: 13px;
	line-height: 1.5;
	color: #737373;
	position: relative;
	text-align: justify;
	padding-top: 10px;
}
p.single-price-text::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    background: #b1b110;
}
.single-top-right form {
    display: inline;
}
.single-top-right .w3ls-cart {
    width: 28%;
    font-weight: 300;
    padding: 0.6em 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    display: inline-block;
    background: #00e58b;
    outline: none;
    border: 1px solid #00e58b;
    color: #fff;
}
.single-top-right .w3ls-cart:hover{
    background: #00bdbd;
	border-color:#00bdbd;
}
.single-top-right .w3ls-cart i.fa {
    margin-right: 3px;
}
.single-top-right .w3ls-cart.w3ls-cart-like {
    margin-left: 1em;
    background: none;
    border: 1px solid  #00e58b;
    color: #00e58b;
}
.single-top-right .w3ls-cart.w3ls-cart-like:hover{
    background:  #00e58b;
    color: #fff;
}
.single-page-icons.social-icons {
    margin: 5em 5em;
}
.single-page-icons.social-icons ul li h4 {
    font-size: 1.1em;
    color: #999;
    margin-right: 1em;
}
.single-page-icons.social-icons ul li {
    vertical-align: middle;
}
/*-- collapse-tabs -*/
.collpse.tabs {
    padding-bottom:0;
}
.panel-group {
    margin-bottom: 0;
}
.collpse.tabs h4.panel-title a {
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: .8em 1.5em;
    font-weight: 300;
	position:relative;
}
.collpse.tabs .panel-default {
    border-color: #37a1f3;
}
.collpse.tabs .panel-body {
	padding: 15px;
	color: #999;
	line-height: 1.8em;
	font-size: 1em;
}
.collpse.tabs .panel-default > .panel-heading {
    padding: 0;
    background: #37a1f3;
}
.pa_italic span.fa-arrow{
    display: none;
}
.pa_italic i.fa-arrow, .collapsed span.fa-arrow{
    right: 3%;
    font-size: 1.8em;
    color: #ffffff;
    position: absolute;
    top: 20%;
}
.collapsed i.fa-arrow{
    display: none;
}
.collapsed span.fa-arrow{
    display: inline-block;
}
.pa_italic i.fa-icon {
    margin-right: 0.8em;
}
.products .panel-title {
    text-align: left;
}

.glry-w3agile-grids {
    background-color: #FFF;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 0 0 #555;
    -moz-box-shadow: 0 0 0 0 #555;
    -o-box-shadow: 0 0 0 0 #555;
    -ms-box-shadow: 0 0 0 0 #555;
    box-shadow: 0 0 0 0 #555;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
}

.owl-carousel .item {
    margin: 1em;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
    -o-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
    -ms-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
}

.glry-w3agile-grids a {
    display: block;
}

.single-page .flex-control-thumbs img{
    border-width: 2px;
}
.single-page .flex-control-thumbs .flex-active{
    border-color: #d4c694;
}

.item_add_simplecart {
	width: 233.3px;
	height: 40px;
	object-fit: contain;
	border-radius: 20px;
	background-color: #262626;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	border: 1px solid transparent;
	transition: 0.3s;
  	color: #ffffff;
}
.simpleCart_shelfItem .item_add:hover{
	border-color: #262626;
	background: #fff;
	color: #262626;
}

/*-- //single-page --*/

/*-- login --*/
.main-agileits {
    width: 30%;
    margin: 0em auto;
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    -o-box-shadow: 0px 0px 15px 0px #D6D6D6;
    -moz-box-shadow: 0px 0px 15px 0px #D6D6D6;
    -webkit-box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding: 3em;
}
.key {
    background: #fff;
    border: 1px solid #999;
    margin-bottom: 2em;
}
.key i {
    float: left;
    color: #999;
    font-size: 1.1em;
    padding: 13px;
}
.key input[type="text"], .key input[type="password"] {
    width: 89%;
    padding: 10px 10px;
    font-size: 1em;
    border: none;
    border-bottom: none;
    outline: none;
    color: #999;
    float: left;
    background: none;
}
.form-w3agile input[type="submit"] {
    background: #00e58b;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border: none;
    font-size: 14px;
    outline: none;
    width: 32%;
    cursor: pointer;
    margin-bottom: 30px;
}
.form-w3agile input[type="submit"]:hover {
	background:#000;
}
.forg a {
    text-decoration: none;
    color: #029241;
    font-size: 1em;
}
.forg-right {
    float: right;
}
/*-- //login --*/


/*-- recommended--*/
table.table {
    width: 100%;
    border: 1px solid #D0D0D0;
}
td.t-data {
    border: 1px solid #D2D2D2;
    padding: 10px !important;
	color:#000;
	vertical-align: middle !important;
	    font-size: 1em !important;
}
th.t-head {
	background: #F1F1F1;
    color: #FFFFFF;
    font-size: 1em !important;
    padding: 0.6em !important;
    border: 1px solid #D2D2D2 !important;
}
a.at-in {
  float: left;
}
a.at-in{
	border:1px solid #DADADA;
	padding:1em 0;
	margin-left: 11%;
}
.sed {
    float: right;
	width: 60%;
}
.check{
	width:6%;
}
.sed h5 {
    color: #00e091;
    font-size: 1.2em;
    margin-top: 4em;
}
.ring-in{
	position:relative;
	width:45%;
	margin:10px auto;
}
.close1,.close2,.close3{
  cursor: pointer;
  position: absolute;
   left:3%;
  top: 52px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.close1 i,.close2 i,.close3 i{
	color: #FFFFFF;
    font-size: 12px;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    text-align: center;
    line-height: 2.7em;
    background:#000000;
}
.add-1 {
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    width: auto;
    font-size: 1em;
    background: #00e58b;
}
.add-1:hover {
    text-decoration: none;
    background: #000;
	color: #fff;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    color: #222222;
}
/*--quantity-starts--*/
.quantity{
	margin: 1.5em 0;
	float:left;
}
 .value-minus,
.value-plus{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
	border:1px solid #b2b2b2;
	    vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before{
	content: "";
	width: 13px;
	height: 2px;
	background: #000;
	left: 50%;
	margin-left: -7px;
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}
.quantity-select .entry.value-plus:after{
	content: "";
	height: 13px;
	width: 2px;
	background: #000;
	left: 50%;
	margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
	position: absolute;
}
.value  {
    cursor: default;
    width: 40px;
	height:40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
	margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover{
	background: #E5E5E5;
}

.quantity-select .entry.value-minus{
    margin-left: 0;
}
span.span-1 {
    margin: 0 !important;
}
/*--quantity-end--*/
/*-- recommended--*/


/*-- payment--*/
.payment h4{
	font-size:20px;
	font-weight:700;
	margin-bottom:7px;
	text-align:left;
}
p.w3-agile{
	margin-top:15px;
}
.payq2{
	margin:30px 0;
}

/*-- //payment--*/


/*--- Responsive Code ---*/
@media screen and (max-width: 1440px){
	.main-agileits {
		width: 33%;
	}
}
@media screen and (max-width: 1366px){
	.main-agileits {
		width: 35%;
	}
}
@media screen and (max-width: 1280px){
	.main-agileits {
		width: 38%;
	}
	#PPsbmincart {
		left: 64%;
	}
}

@media screen and (max-width: 1199px){
    .product-item .product-img{
        height: 252px;
    }
}

@media screen and (max-width: 1080px){
	.dropdown-menu.multi {
		min-width: 580px;
		padding: 25px;
	}
	.banner-agile {
		min-height: 525px;
	}
	.banner-agile h2 {
		margin-top: 14%;
	}
	.w3agile_newsletter_right input[type="submit"] {
		width: 19%;
	}
	.my-banner2,.my-banner3 {
		min-height: 300px;
	}
	.footer img {
		width: 16%;
	}
	.pince-left {
		padding: 0.7em;
	}
	.team-img .overlay {
		padding: 7.5em 0.5em;
	}
	.main-agileits {
		width: 44%;
	}
	#PPsbmincart {
		left: 56%;
	}
	.single-top-right .w3ls-cart {
		width: 34%;
	}
}
@media screen and (max-width: 1024px){
	.main-agileits {
		width: 46%;
	}
	ul.resp-tabs-list li:nth-child(2):before {
		width: 4.6%;
		left: 30.4%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 4.2%;
		left: 44.6%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 4.4%;
		left: 61.1%;
	}
}
@media screen and (max-width: 991px){
	.navbar-nav > li > a {
		padding:8px 10px;
		font-size:14px;
	}
	.search-agileinfo {
        padding-left: 0;
	}
	.search-agileinfo input[type="search"] {
		width: 78%;
		font-size: 13px;
        height: 35px;
	}
	button.search {
		top: 5px;
		right: 15px;
		width: 35px;
		height: 35px;
	}
    .cart-wthree .fa{
        font-size: 30px;
    }
    button.w3view-cart{
        padding-left: 0;
    }
	.bb-left-agileits-w3layouts {
		width: 42%;
		float: left;
	}
	.bb-middle-agileits-w3layouts {
		width: 30%;
		float: left;
		padding:0 10px;
	}
	.bb-right-agileits-w3layouts {
		width: 28%;
		float: left;
	}
	.bb-left-agileits-w3layouts-inner {
		background: url(../images/bb1.jpg) no-repeat -142px 0px;
		background-size: cover;
		min-height: 450px;
	}
	.bb-middle-top {
		background: url(../images/bb2.jpg) no-repeat -81px 0px;
		background-size: cover;
		min-height: 210px;
	}
	.bb-middle-bottom {
		background: url(../images/bb4.jpg) no-repeat -99px 0px;
		background-size: cover;
		min-height: 210px;
	}
	.bb-right-top {
		min-height: 210px;
	}
	.bb-right-bottom {
		background: url(../images/bb5.jpg) no-repeat -56px 0px;
		background-size: cover;
		min-height: 210px;
	}
	.top-product-grids {
		width: 25%;
		float: left;
	}
	ul.resp-tabs-list li:nth-child(2):before {
		width: 5.7%;
		left: 24.4%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 5.9%;
		left: 42.9%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 5.8%;
		left: 64.5%;
	}
	.product-img .p-mask, .row .product .vm-product-media-container .p-mask {
		padding:0;
	}
	.features,.testimonials {
		width: 50%;
		float: left;
	}
	.ficon{
		width: 20%;
		float: left;
	}
	.hvr-rectangle-out:before {
		right: 0;
	}
	.features .fa {
		font-size: 25px;
		width: 50px;
		height: 50px;
		line-height: 48px;
	}
	.ftext{
		width:80%;
		float:left;
	}
	.w3agile_newsletter_left,.w3agile_newsletter_right {
		width: 50%;
		float: left;
	}
	.w3agile_newsletter_right input[type="submit"] {
		width: 24%;
	}
	.footer-grids {
		width: 25%;
		float: left;
	}
	.footer a h3 {
		font-size: 34px;
	}
	.footer a h3 span {
		top: 12px;
		left: 128px;
	}
	.footer img {
		width: 20%;
		top: 2px;
		left: -22px;
	}
	.fgd1 .fa {
		font-size: 13px;
		width: 25px;
		height: 29px;
		line-height: 28px;
		margin: 5px;
	}
	.about-grids {
		width: 100%;
		float: left;
	}
	.about-grids:nth-child(2){
		margin-top:30px;
	}
	.pince-left {
		height: 50px;
		width: 50px;
	}
	.pince h5 {
		line-height: 32px;
	}
	.pince-right {
		float: right;
		width: 89%;
		padding-top: 10px;
	}
	.team-grid {
		width: 25%;
		float: left;
	}
	.team-img .overlay {
		padding: 5.5em 0em;
	}
	.social-icon a {
		padding: 8px;
		font-size: 20px;
	}
	.sub-banner {
		min-height: 230px;
	}
	.w3ls_dresses_grid_left {
		width: 33.3%;
		float: left;
	}
	.contact input[type="text"] {
		margin: 10px 7px 13px 0px;
	}
	.main-agileits {
		width: 48%;
	}
	.close1, .close2, .close3 {
		left: 2%;
	}
	.sed {
		width: 56%;
	}
	.single-top-left{
		width:50%;
		float:left;
		margin-left:0;
	}
	.single-top-right {
		width: 50%;
		float: left;
		padding-left:5em;
	}
	button.w3ls-cart.pw3ls-cart {
		padding: 10px;
	}
    .product-item .product-img{
        height: 293px;
    }
}
@media screen and (max-width: 900px){
	.main-agileits {
		width: 53%;
	}
	.sed {
		width: 55%;
	}
	#PPsbmincart {
		left: 47%;
	}
}
@media screen and (max-width: 800px){
	.logo-w3 a h1 {

	}
	.logo-w3 a h1 span{

	}
	.about-bottom {
		background: url(../images/abtbtm.jpg) no-repeat 0px 0px;
		background-size: cover;
	}
	.main-agileits {
		width: 60%;
	}
	#PPsbmincart {
		left: 41%;
	}
}
@media screen and (max-width: 768px){
    .logo-w3 a h1 {
        font-size: 30px;
    }
    .footer-link{float: none;width: 100%;text-align: center;padding-bottom: 20px;}
.footer{
    position: static;
}
    .navbar-toggle {
        border-radius: 0;
        background:#00e58b;
        float:none;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
    .navbar-default .navbar-toggle {
        border:none;
        margin-right:0;
    }
    ul.dropdown-menu.multi img {
        width: 45%;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    /*.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {*/
        /*background-color: #000;*/
        /*border: #000;*/
    /*}*/
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background-color: #000 !important;
        border: #000 !important;
    }
    .navbar-default .collapsed:hover{
        background-color: #00e58b !important;
        border: #00e58b !important;
    }
    .navbar-default .collapsed:focus{
        background-color: #00e58b !important;
        border: #00e58b !important;
    }
    .search-agileinfo input[type="search"] {
        width: 100%;
    }
    .women-grids h4{
        height: auto;
        overflow: visible;
        text-overflow: initial;
        white-space: normal;
    }
    button.search {
        right: -24px;
    }
    .navbar-nav{
        margin: 7.5px 0;
    }
    .logo-w3 a h1 span {
        font-size:14px;
    }
    .product-item .product-img{
        height: auto;
    }
    .cart{
        text-align: right;
    }
	.dropdown-menu.multi {
		min-width: 500px;
		padding: 25px;
	}
	.footer-grids {
		width: 50%;
		float: left;
		height:200px;
	}
	.fgd1,.fgd2{
		margin-bottom:30px;
	}
	.footer a h3 {
		padding-left: 30px;
	}
	.footer img {
		width: 9%;
		top: 2px;
		left: 12px;
	}
	.footer a h3 span {
		left: 155px;
	}
    /*.women-dresses{*/
        /*max-width: 400px;*/
        /*margin: 0 auto;*/
        /*float: none;*/
    /*}*/
	.team-img .overlay {
		padding: 5.2em 0em;
	}
	.main-agileits {
		padding:35px;
	}
	.single-top-right {
		width: 100%;
	}
}
@media screen and (max-width: 736px){
	.banner-agile {
		min-height: 400px;
	}
	.banner-agile h2 {
		margin-top: 10%;
		font-size:30px;
	}
	.banner-agile h3 {
		font-size: 45px;
	}
	.banner-bootom-w3-agileits, .top-products, .fandt, .top-brands, .newsletter, .footer, .content, .contact, .about, .team, .main-grid-border, .faq, .products, .collpse.tabs, .login, .check-out, .payment {
		padding: 40px 0;
	}
    .footer{
        padding: 20px 0;
    }
	.top-products h3, .features h3, .top-brands h3, .newsletter h3, .newsletter h2,.contact h3, .about h3, .team h3, h3.agileits-icons-title, .faq h3, .products h3, .login h3, .check-out h3, .payment h3 {
		font-size: 35px;
	}
	ul.resp-tabs-list li:nth-child(2):before {
		width: 5.9%;
		left: 23.4%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 5.9%;
		left: 42.6%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 5.9%;
		left: 65.3%;
	}
	button.w3ls-cart.pw3ls-cart {
		font-size: 15px;
	}
	.hvr-rectangle-out:before {
		right: -1px;
	}
	.about-bottom {
		background: url(../images/abtbtm.jpg) no-repeat 0px 0px;
		background-size: cover;
		padding:60px 0;
	}
	.contact-left {
		width: 35%;
		float: left;
	}
	.contact-right {
		width: 65%;
		float: left;
	}
	.contact textarea {
		width: 96.5%;
	}
	.main-agileits {
		width: 63%;
	}
	.sed {
		width: 53%;
	}
	.value-minus, .value-plus ,.value {
		width:35px;
		height:35px;
	}
	#PPsbmincart {
		left: 36%;
	}
	.imagezoom-view {
		display: none;
	}
	.single-top-left {
		width: 64%;
		float: none;
	}
}
@media screen and (max-width: 667px){
	.banner-bootom-w3-agileits h4 span {
		font-size: 40px;
	}
	.banner-bootom-w3-agileits h3 {
		font-size: 35px;
	}
	.banner-agile {
		min-height: 370px;
	}
	.banner-agile h2 {
		margin-top: 9%;
	}
	.banner-agile p {
		width: 55%;
	}
	.resp-tab-item {
		font-size: 14px;
	}
	ul.resp-tabs-list li:nth-child(2):before {
		width: 6%;
		left: 22.5%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 6%;
		left: 66%;
	}
	button.w3ls-cart.pw3ls-cart {
		/*padding: 0;*/
	}
	.features,.testimonials {
		width: 100%;
		float: left;
	}
	.features{
		margin-bottom:40px;
	}
	.ficon {
		width: 12%;
		float: left;
	}
	.ftext {
		width: 88%;
		float: left;
	}
	.w3agile_newsletter_right input[type="submit"] {
		width: 30%;
	}
	.footer img {
		width: 10%;
	}
	.hvr-rectangle-out:before {
		right: 6px;
	}
	.social-icon a {
		padding: 8px;
		font-size: 18px;
	}
	.team-grid h4 {
		font-size: 16px;
	}
	.team-grid h5 {
		font-size: 14px;
	}
	.team-img .overlay {
		padding: 4.2em 0em;
	}
	.social-icon a {
		padding: 5px;
	}
	.w3ls_dresses_grid_left {
		width: 80%;
		float: left;
		margin-bottom:30px;
	}
	.map-w3ls iframe {
		width: 100%;
		height: 250px;
	}
	.main-agileits {
		width: 69%;
	}
	.sed {
		width: 48%;
	}
	.close1 i, .close2 i, .close3 i {
		width: 27px;
		height: 27px;
		line-height: 2.4em;
	}
	.value-minus, .value-plus, .value {
		width: 28px;
		height: 28px;
	}
	.value{
		line-height:12px;
	}
	#PPsbmincart {
		left: 31%;
	}

	.w3ls_dresses_grid_left_grid h3:before {
		width: 9%;
	}
}
@media screen and (max-width: 640px){
	.top-product-grids {
		width: 50%;
		float: left;
	}
	button.w3ls-cart.pw3ls-cart {
		font-size: 18px;
	}
	.tp1,.tp2,.tp5,.tp6 {
		margin-bottom: 40px;
	}
	ul.resp-tabs-list li:nth-child(2):before {
		width: 6%;
		left: 21.5%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 6.5%;
		left: 42%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 6.5%;
		left: 66.5%;
	}
	.hvr-rectangle-out:before {
		right: 4px;
	}
	.team-grid {
		width: 50%;
		float: left;
	}
	.team-grid:nth-child(1),.team-grid:nth-child(2){
		margin-bottom:30px;
	}
	.team-img .overlay {
		padding: 10.2em 0em;
	}
	.social-icon a {
		padding: 14px;
	}
	.sub-banner {
		min-height: 200px;
	}
	.main-agileits {
		width: 72%;
	}
	.sed {
		width: 47%;
	}
	.add-1 {
		padding: 7px 8px;
		font-size: 13px;
	}
}
@media screen and (max-width: 600px){
	
	.banner-agile p {
		width: 61%;
	}
    .logo-w3 img{
        height: 45px;
    }
	ul.resp-tabs-list li:nth-child(2):before {
		width: 6.8%;
		left: 19.2%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 6.9%;
		left: 41.6%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 7%;
		left: 67.8%;
	}
	.footer img {
		width: 11%;
	}
	.hvr-rectangle-out:before {
		right: -2px;
	}
	.team-img .overlay {
		padding: 9.2em 0em;
	}
	.main-agileits {
		width: 78%;
	}
	.sed {
		width: 41%;
	}
	.value-minus, .value-plus, .value {
		width: 24px;
		height: 24px;
	}
	#PPsbmincart {
		left:25%;
		top: 25%;
	}

}
@media screen and (max-width: 568px) {
	.banner-agile {
		min-height: 350px;
	}
	.banner-agile p {
		width: 65%;
	}
	.bb-left-agileits-w3layouts {
		width: 100%;
		margin-bottom:30px;
	}
	.bb-left-agileits-w3layouts-inner {
		background: url(../images/bb1.jpg) no-repeat 0px 0px;
		background-size: cover;
		min-height: 300px;
	}
	.bb-middle-agileits-w3layouts {
		width: 55%;
		float: left;
		padding: 0 15px;
	}
	.bb-right-agileits-w3layouts {
		width: 45%;
		float: left;
	}
	.bb-middle-top {
		background: url(../images/bb2.jpg) no-repeat 0px 0px;
		background-size: cover;
		min-height: 200px;
	}
	.bb-middle-bottom {
		background: url(../images/bb4.jpg) no-repeat 0px 0px;
		background-size: cover;
		min-height: 200px;
	}
	.bb-right-top {
		min-height: 200px;
	}
	.bb-right-bottom {
		background: url(../images/bb5.jpg) no-repeat 0px 0px;
		background-size: cover;
		min-height: 200px;
	}
	.bb-left-agileits-w3layouts h3 {
		padding-top: 20%;
	}
	.resp-tab-item {
		margin: 0 1em 0;
	}
	ul.resp-tabs-list li:nth-child(2):before {
		width: 5.9%;
		left: 19%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 6.4%;
		left: 41.6%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 6%;
		left: 68.5%;
	}
	.w3agile_newsletter_right input[type="email"] {
		width: 68%;
	}
	.w3agile_newsletter_right input[type="submit"] {
		width: 32%;
	}
	.footer img {
		width: 12%;
	}
	.hvr-rectangle-out:before {
		right: -6px;
	}
	.pince-right {
		width: 87%;
	}
	.team-img .overlay {
		padding: 8.3em 0em;
	}
	.main-agileits {
		padding: 25px;
	}
	#PPsbmincart {
		left: 20%;
	}
}
@media screen and (max-width: 480px){
	.banner-agile {
		min-height: 295px;
	}
	.banner-agile h2 {
		font-size:25px;
		margin-top:8%;
	}
	.banner-agile h3 {
		font-size: 35px;
		margin: 8px 0;
	}
	.banner-agile p {
		width: 75%;
		font-size: 13.5px;
	}
    .search-agileinfo{
        width: 60%;
    }
	.resp-tab-item {
		font-size: 13px;
		margin:0 0.6em 0;
	}
	ul.resp-tabs-list li:nth-child(2):before {
		width: 4.9%;
		left: 18%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 4.6%;
		left: 41.6%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 4.5%;
		left: 70%;
	}
	.ficon{
		width: 20%;
		float: left;
	}
	.ftext {
		width: 80%;
		float: left;
	}
	.hvr-rectangle-out:before {
		right: 16px;
	}
	.footer img {
		width: 15%;
	}
	.pince-right {
		float: right;
		width: 83%;
		padding-top: 0px;
	}
	.team-img .overlay {
		padding: 7em 0em;
	}
	.about h4 {
		font-size: 1.8em;
	}
	.about-w3ls-row {
		background: #00e58b;
		padding: 1em;
	}
	.w3agile_newsletter_left, .w3agile_newsletter_right {
		width: 100%;
		float: left;
	}
	.w3agile_newsletter_left{
		margin-bottom:30px;
	}
	.sub-banner {
		min-height: 155px;
	}
	.women-set2 {
		margin: 50px 0;
	}
	.wp2,.wp5,.wp8{
		margin:50px auto;
	}
	.contact-left,.contact-right {
		width: 100%;
		float: left;
	}
	.contact-right {
		margin-top:30px;
	}
	.key input[type="text"], .key input[type="password"] {
		width: 86%;
	}

	#PPsbmincart {
		left: 27%;
		top: 29%;
		width: 315px;
	}
	#PPsbmincart form {
		padding: 1em 1em .3em;
	}
	#PPsbmincart .sbmincart-item {
		font-size: 0.9em;
	}
	#PPsbmincart form ul {
		max-height: 250px;
	}
	.sed {
		width: 28%;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		display: block;
		text-align:center;
	}
	.t-data button.w3ls-cart.pw3ls-cart {
		text-align:center;
	}
	a.at-in {
		margin-left: 27%;
	}
	.sed {
		width: 0%;
	}
	.quantity {
		margin: 0 0 20px 0;
	}
}
@media screen and (max-width: 440px) {
    .flexslider{
        margin: 32px;
        padding-left: 29%;
	}
	
	
}
@media screen and (max-width: 414px) {
	#PPsbmincart {
		left: 6%;
		width:360px;
	}
    .logo-w3,.phone-w3l {
        width:100%;
        text-align:center;
    }
    .logo-w3 {
        margin-bottom:10px;
    }
    .logo-w3 a h1 {
        text-align:center;
        padding-left:0;
    }
	.bb-middle-agileits-w3layouts ,.bb-right-agileits-w3layouts {
		width: 100%;
	}
	.bb-middle-agileits-w3layouts{
		margin-bottom:30px;
	}
	.resp-tab-item {
		padding:7px 6px;
	}
    .navigation-agileits{
        /*width: 60%;*/
    }
    .cart-wthree{
        /*width: 40%;*/
    }
	ul.resp-tabs-list li:nth-child(2):before {
		width: 5.3%;
		left: 17.5%;
		top:22%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 5.3%;
		left: 40.4%;
		top:22%;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 5.5%;
		left: 68.6%;
		top:22%;
	}
	.hvr-rectangle-out:before {
		right: 3px;
	}

	.footer-grids {
		width: 100%;
		float: left;
		height:inherit;
	}
	.fgd3{
		margin-bottom:30px;
	}
	.footer img {
		width: 9%;
	}
	.team-img .overlay {
		padding: 5.5em 0em;
	}
	.social-icon a {
		padding: 7px;
	}
	.women-set2 {
		margin: 40px 0;
	}
	.wp2,.wp5,.wp8{
		margin:40px auto;
	}
	.w3ls_dresses_grid_left {
		width: 70%;
	}
	.key input[type="text"], .key input[type="password"] {
		width: 83%;
	}
	.single-top-right .w3ls-cart {
		width: 38%;
	}
	.icons .bs-glyphicons li {
		float: left;
		width: 31%;
	}
}
@media screen and (max-width: 407px){
    .flex-viewport .slides li img{
        width: 85%;
    }
    .social:before{
        content: normal;
    }
    .single-price ul li:nth-child(1){
        font-size: 1.3em;
    }
}
@media screen and (max-width: 384px){
	.ring-in {
		position: relative;
		width: 60%;
	}
	.resp-tab-item {
		font-size: 12px;
		margin: 0 0.5em 0;
	}
	ul.resp-tabs-list li:nth-child(3):after {
		width: 5%;
	}
	button.w3ls-cart.pw3ls-cart {
		font-size: 16px;
	}
	.hvr-rectangle-out:before {
		right: -3px;
	}
	.pince-right {
		float: right;
		width: 79%;
	}
	.team-img .overlay {
		padding: 5em 0em;
	}
	.women-set2 {
		margin: 30px 0;
	}
	.wp2,.wp5,.wp8{
		margin:30px auto;
	}
	.key input[type="text"], .key input[type="password"] {
		width: 80%;
	}
	.top-products h3, .features h3, .top-brands h3, .newsletter h3, .newsletter h2,.contact h3, .about h3, .team h3, h3.agileits-icons-title, .faq h3, .products h3, .login h3, .check-out h3, .payment h3 {
		font-size: 28px;
	}
	#PPsbmincart {
		left: 5%;
		top:35%:
	}
}
@media screen and (max-width: 375px){
	ul.resp-tabs-list li:nth-child(2):before {
		width: 5%;
		left: 17%;
	}
	.hvr-rectangle-out:before {
		right: -5px;
	}
	.team-img .overlay {
		padding: 4.7em 0em;
	}
	.single-top-right .w3ls-cart {
		width: 42%;
	}
	.wmuSlider .wmuSliderWrapper article img {
		width: 50%;
		margin: 0 auto;
	}

}
@media screen and (max-width: 320px){
	.top-product-grids {
		width: 100%;
		float: left;
	}
	.tp3,.tp7{
		margin-bottom:30px;
	}
	.features .fa {
		font-size: 19px;
		width: 35px;
		height: 35px;
		line-height: 36px;
	}
	.team-grid {
		width: 100%;
		float: left;
	}
	.team-grid:nth-child(3){
		margin-bottom:30px;
	}
	.team-img .overlay {
		padding: 8.7em 0em;
	}
	.social-icon a {
		padding: 7px 15px;
	}
	.w3ls_dresses_grid_left {
		width: 85%;
	}
	.contact input[type="text"] {
		width: 95.8%;
	}
	.map-w3ls iframe {
		height: 250px;
	}
	.key input[type="text"], .key input[type="password"] {
		padding: 7px 10px;
	}
	.key i {
		padding: 10px;
	}
	#PPsbmincart {
		width: 274px;
	}
	#PPsbmincart .sbmincart-details-name {
		width: 46%;
	}
	#PPsbmincart .sbmincart-details-remove {
		width: 13%;
	}
	.single-top-right .w3ls-cart {
		width: 45%;
		font-size: 13px;
	}
	.search-agileinfo input[type="search"] {
    padding: 6px;
	}
	.resp-tab-item {
		font-size: 11px;
		margin: 0 0.3em 0;
		padding:7px 4px;
	}
	ul.resp-tabs-list li:nth-child(2):before {
		width: 4%;
	}
	ul.resp-tabs-list li:nth-child(2):after {
		width: 4%;
	}
	.hvr-rectangle-out:before {
		right: 0px;
	}
	.form-w3agile input[type="submit"] {
		padding: 7px 0;
		width: 40%;
	}
	.testimonials {
		padding: 20px;
	}
	.wmuSliderPagination {
		left: 35%;
	}
	.icons .bs-glyphicons li {
		float: left;
		width: 48%;
	}
	.ring-in {
		position: relative;
		width: 81%;
	}
	.banner-agile {
		background: url(../images/banner2.jpg) no-repeat -50px 0px;
		background-size: cover;
	}
}

.contact-us-form .mktoForm {
    width: 100%!important
}

.contact-us-form .mktoForm .mktoField {
    font-size: 13px;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%!important
}

.contact-us-form .mktoForm .mktoLabel {
    width: 100% !important;
}

.contact-us-form.text-left {
    padding: 2% 12%;
}

.contact-us-form .mktoForm .mktoFormRow .mktoFormCol {
    width: 100%;
    padding: 0 10px
}

.contact-us-form .mktoForm .mktoFormRow .mktoFormCol .mktoOffset {
    width: auto!important
}

.contact-us-form .mktoForm .mktoFormRow .mktoFormCol .mktoCheckboxList {
    width: 16px!important;
    padding: 0!important
}

.contact-us-form .mktoForm .mktoFormRow .mktoFormCol .mktoCheckboxList .mktoField {
    box-shadow: none;
    height: 20px
}

.contact-us-form .mktoForm .mktoFormRow .mktoFormCol .mktoGutter.mktoHasWidth {
    width: auto!important
}

.contact-us-form .mktoForm .mktoFormRow:first-child .mktoFormCol,.contact-us-form .mktoForm .textareacol-wrapper,.partner-contactus .mktoForm {
    width: 100%!important
}

.contact-us-form .mktoForm div.mktoLogicalField.mktoInvalid,.contact-us-form .mktoForm input.mktoField.mktoInvalid,.contact-us-form .mktoForm select.mktoField.mktoInvalid,.contact-us-form .mktoForm textarea.mktoField.mktoInvalid {
    border: 1px solid #f93737!important
}

.contact-us-form .mktoForm .mktoButtonRow .mktoButtonWrap {
    margin: 10px 0 0 10px!important;
    display: inline-block
}

.contact-us-form .mktoForm .mktoError,.contact-us-form .mktoForm .mktoError .mktoErrorMsg,.partner-contactus .mktoForm .mktoLabel {
    display: none!important
}

.contact-us-form .mktoForm .mktoButtonRow .mktoButton {
    border: 2px solid #23bab5!important;
    background: #23bab5!important;
    color: #fff!important;
    padding: 8px 25px!important;
    font-size: 14px!important;
    border-radius: 2px!important;
    text-transform: uppercase;
    line-height: 1
}

.contact-us-form .mktoForm .mktoButtonRow .mktoButton:focus,.contact-us-form .mktoForm .mktoButtonRow .mktoButton:hover {
    color: #fff!important;
    background: #17ada8!important;
    border-color: #17ada8!important
}

.contact-us-form .mktoForm textarea.mktoField {
    resize: vertical;
    overflow: auto;
    height: auto!important
}



contact-us-form .mktoForm .mktoLabel.checked-text {
    display: block!important;
    width: 96%!important;
    float: right
}
/*
.contact-us-form .mktoForm .mktoRequiredField .mktoAsterix {
    display: none
}
*/
@media screen and (max-width: 992px) and (min-width:0) {
    .contact-us-form {
        margin-right:0!important
    }
}

.mktoFieldWrap {
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2px 0px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.jumbotron {
    margin-bottom: 0px;
}


/* landing page css start here */

#landing-container .landingbanner{
   height: 400px;
   position: relative;
   margin-top:25px;

}
#landing-container .landingbanner .bannerSec {
	height: 100%;
	position:absolute ;
	width: 100%;
	box-sizing: border-box;
	padding: 30px;
}

#landing-container .landingbanner .bannerSec .contentSec {
	width: 100%;
    height: 100%;
    border: 2px solid #d4c694;
    text-align: left;
    color: #fff;
    padding-top: 12%;
    padding-left: 50px;
}
#landing-container .landingbanner .bannerSec .contentSec h1{
	font-weight: 500 !important;
	font-size: 46px;
}
#landing-container .landingbanner .bannerSec .contentSec h1 em {
  font-style: normal;
  color: #d4c694;
  font-weight: 700;
}
#landing-container .landingbanner .bannerSec .contentSec p{
  font-family: futura-pt, sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  width: 360px;
  font-weight: 300;
}

.landingProduct{
	margin-top: 50px;
	background-color: rgb(212,198,148, 0.25);
	padding-bottom: 30px;
}
.landingProduct h2{
	font-family: futura-pt, sans-serif;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.landingProduct h2::after {
	content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #b1b110;
}
.landingProduct .productContent p {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #181818;
  width: 315px;
  margin: 0 auto 30px;
}
#landing-container .landingbanner .bannerSec .contentSec h1{
	text-align: left;
	font-family: futura-pt, sans-serif;
	font-weight: 700;
	font-style: normal;
}



.our_mission {
	padding: 0 80px 65px;
	border: 2px solid #d4c694;
	margin-top: 80px;
	margin-bottom: 80px;
}
.our_mission .content{
	padding: 0 70px;
	position: relative;
}
.our_mission .content:after{
	content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #b1b110;
}
.our_mission h2{
	font-family: futura-pt, sans-serif;
	font-size: 75px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.4px;
	text-align: center;
	color: #d4c694;
	position: relative;
	padding: 15px 20px;
   top: -70px;
    background: #ffff;
    width: 460px;
    text-align: center;
    margin: 0 auto;
}
.our_mission h2::before{
	content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #b1b110;
}
.our_mission p{
	font-family: futura-pt, sans-serif;
	font-size: 24px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.4px;
	color: #5d5d5d;
	margin-bottom: 35px;
  }
.our_mission .signtext{
  font-family: futura-pt, sans-serif;
  font-size: 21.3px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  color: #2d2d2d;
  margin-top:30px;
}

.our_mission img{
	width: 260px;
    margin-top: 10px;
}
.landingVideo{
	margin-bottom: 80px;
}

.landingForm {
	padding: 75px 72px;
	box-sizing: border-box;
}
.landingForm h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
	color: #d4c694;
	position: relative;
    top: -45px;
}

.landingForm{
	min-height: 806px;
	box-sizing: border-box;
}

.landingForm .contact-us-form textarea{
    width: 94%;
    padding: 0;
    margin: 1%;
    border-radius: 6px;
    height: 235px;
	resize: none;
	font-family: futura-pt, sans-serif;
  font-weight: 500;

}
.landingForm .mktoForm .mktoFormRow label{

      /* display: none; */
	  color: #fff;
	  font-family: futura-pt, sans-serif;
	  font-size: 14px;
	  font-weight: 300;
	  padding-bottom: 7px;

}
.landingForm .mktoForm .mktoFormRow{
   width: 48%;
   float: left;
   display: block;
   clear: none;
   margin-bottom: 11px;

}

.landingForm .mktoForm .mktoButtonRow{
    margin-left: -32px;
	display: block;
    width: 100%;
    float: left;
}

.landingForm .contact-us-form .mktoForm{
 margin-top: 40px !important;

}
.landingForm .contact-us-form .mktoForm .mktoField{
	height: 59.6px !important;
	width: 304px ;
}

.landingForm .mktoForm .mktoButtonRow .mktoButtonWrap{

	display: block;
}

.landingForm .mktoForm .mktoButtonWrap.mktoRound .mktoButton{

	border-radius: 30px !important;
	background: transparent !important;
	border-color: #d4c694 !important;
	width: 185.4px;
  height: 57.9px;
  margin: 0 auto;
	display: block;
	font-family: futura-pt, sans-serif;
}

.landingProduct .flex-control-nav{
	left: 4px;
    /* margin-top: 29px; */

}
.landingProduct .flex-viewport {
	width: 430px;
	float: right;
}

.landingProduct p.single-price-text{
	padding-right: 25px;
}

.landingProduct .snipcart-add-item {
	width: 155.3px;
    height: 35px;
    object-fit: contain;
    border-radius: 20px;
    background-color: #262626;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: inherit;
    border: 1px solid transparent;
    transition: 0.3s;
    color: #ffffff;
    margin: 20px auto 0;
    font-family: futura-pt, sans-serif;
    text-decoration: none;
  }
.landingProduct .snipcart-add-item:hover {
    border-color: #262626;
    background: #fff;
    color: #262626;
	text-decoration: none;

  }

  .landingProduct .snipcart-add-item:hover a {
    text-decoration: none;
  }

/* PRODUCT PAGE - CARD DETAIL CSS START HERE */


.single-top-right .start-icon span{
	font-size: 10px;
}
.single-top-right .start-icon:hover{
	color: #f5a623;
}
.single-top-right span.checked{
	color: #f5a623;
}
.single-top-right .itemTitle{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262626;
}
.single-top-right .itemPrice{
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262626;
}
.single-top-right .itemContent{
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.8;
	letter-spacing: normal;
	color: #737373;
	position: relative;
	padding-top: 15px;
	margin-top:25px;
}
.single-top-right .itemContent::before{
	position: absolute;
	content: '';
	width: 30px;
	height: 4px;
	background: #999;
	left: 0;
	right: 0;
	margin: 0 auto;
	top:0;
}

.single-top-right .w3ls-cart{
   border-radius: 80px;
}
.single-top-right .itemDetails{
	font-size: 12px;
	color: #737373;
	line-height: 1.5;
	margin-top: 35px;
}
.single-top-right .itemDetails li{
	display: block;
	color: #262626;
	font-size: 11px;
	line-height: 1.45;
	margin-left: 0;
}
.item-socialLinks{
	margin-top: 5px;
}
.item-socialLinks span{
	color: #262626;
	font-size: 11px;
	display: block;
}
.item-socialLinks ul li a{
	color: #565656;
}
.input-number-group {
	width: 70px;
	float: left;
	margin-right:50px;
	font-weight: bold;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 6px;
  }

  .input-number-group input[type=number]::-webkit-inner-spin-button,
  .input-number-group input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
			appearance: none;
  }

  .input-number-group .input-group-button {
	line-height: normal;
  }

  .input-number-group .input-number {
	width: 20px;
	vertical-align: top;
	text-align: center;
	outline: none;
	display: block;
	margin: 0;
	border:none;
  }

  .input-number-group .input-number,
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	border-radius: 0;
  }

  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
	display: inline-block;
	width: 8px;
	color: #0a0a0a;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	font-size: 2rem;
	font-weight: 400;
  }

  .input-number-group .input-number-decrement {
	margin-right: 0.3rem;
  }

  .input-number-group .input-number-increment {
	margin-left: 0.3rem;
  }

/*-- //responsive--


/*reviews--*/
.reviews {
  width: 54px;
  height: 15px;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #525252;
}

