{% extends "index.html" %}
{% block content %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{trackingId}}"></script>
<script src="https://js.pusher.com/4.3/pusher.min.js"></script>
<script type="text/javascript" src="/js/simpleCart.js"></script>

<!-- linkedin tags-->
<meta property='og:title' content='i-Electra App' />
<meta property='og:image' content='{{first_banner.image.url}}' />
<meta property='og:description' content='Simple shopping experience with Curbside pickup. Built for MACHathon' />
<meta property='og:url' content='' />
<!-- fb tags-->
<meta property="og:title" content="i-Electra App" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{first_banner.image.url}}" />
<meta property="og:url" content="{{url}}" />
<meta property="og:description" content="Simple shopping experience with Curbside pickup. Built for MACHathon" />
<!-- For Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="i-Electra App" />
<meta name="twitter:description" content="Simple shopping experience with Curbside pickup. Built for MACHathon" />
<meta name="twitter:image" content="{{first_banner.image.url}}" />


<body data-pageref="{{data.uid}}" data-contenttype="{{contentType}}">
		<div class="main home-main">
        <div id="main-banner" class="clearfix">
            <div class="home-bnr" style="background:url('{{data.primary_banner_section.banner_image.url}}')">
                <div class="home-banner-first-section">
                    <h2>{{data.primary_banner_section.title}}</h2>
                    <p>{{data.primary_banner_section.description}}</p>
                    <a href="{{data.primary_banner_section.cta.link}}" class="btn main-banner-btn">{{data.primary_banner_section.cta.title}}</a>
                </div>
            </div>
        </div>
        <div id="essential-section" class="row">
            <div id="essential-right" class="col-sm">
                <div id="personalized-image"></div>
            </div>
            <div id="essential-left" class="col-sm">
                <div class="essntial-desc">
                    <div id="personalized-text"></div>
                    <div id="personalized-button"></div>
                </div>
            </div>
        </div>
        <div id="essential-section" class="row">
            <div id="essential-right" class="col-sm">
                <img src="{{data.first_card_column.image.url}}" alt="{{data.first_card_column.title}}">
            </div>
            <div id="essential-left" class="col-sm">
                <div class="essntial-desc">
                    <h3>{{data.first_card_column.title}}</h3>
                    <p>{{data.first_card_column.description}}</p>
                    <a href="{{data.first_card_column.cta.link}}" class="btn main-banner-btn">{{data.first_card_column.cta.title}}</a>
                </div>
            </div>
        </div>
        <div id="second-banner" class="clearfix">
            <div class="second-bnr" style="background:url('{{data.secondary_banner_section.banner_image.url}}')">
                <div class="banner-second-section">
                    <h2>{{data.secondary_banner_section.title}}</h2>
                    <p>{{data.secondary_banner_section.description}}</p>
                    <a href="{{data.secondary_banner_section.cta.link}}" class="btn main-banner-btn">{{data.primary_banner_section.cta.title}}</a>
                </div>
            </div>
        </div>
        <div id="gift-section" class="row">
            <div id="gift-left" class="col-sm">
                <div class="gift-desc">
                    <h3>{{data.secondary_card_column.title}}</h3>
                    <p>{{data.secondary_card_column.description}}</p>
                    <a href="{{data.secondary_card_column.cta.link}}" class="btn main-banner-btn">{{data.secondary_card_column.cta.title}}</a>
                </div>
            </div>
            <div id="gift-right" class="col-sm">
                <img src="{{data.secondary_card_column.image.url}}" alt="{{data.secondary_card_column.title}}">
            </div>
        </div>
    </div>
</body>
</div>

<style type="text/css">
    @import url("https://use.typekit.net/bek0yja.css");

    .flex-direction-nav {
        display: none;
    }

    /*New home CSS*/
    .home-main #main-banner{
        max-width: 100%;
    }
    .home-main #main-banner .home-bnr{
        min-height: 550px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        /* background-position: center center !important; */
        background-position: 50%;
        position: relative;
    }
    .home-main #main-banner .home-bnr .home-banner-first-section{
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: rig;
        transform: translate(-50%, -50%);
    }
    .home-main #main-banner .home-bnr .home-banner-first-section h2{
        font-size: 42px;
    }
    .home-main #main-banner .home-bnr .home-banner-first-section p{
        font-size: 20px;
    }
    .home-main #main-banner .home-bnr .home-banner-first-section .btn,
    .home-main #second-banner .second-bnr .banner-second-section .btn{
        font-size: 20px;
        color: #fff;
        border-color: #fff;
        padding: 12px 15px 15px 15px;
        display: inline-block;
        height: auto;
        line-height: 1;
        border-radius: 26px;
    }
    .home-main #main-banner .home-bnr .home-banner-first-section .btn:hover,
    .home-main #second-banner .second-bnr .banner-second-section .btn:hover,
    .home-main #essential-section #essential-left .essntial-desc .btn:hover{
        background: #212529;
    }


    .home-main #second-banner{
        margin: 0 auto 40px;
    }
    .home-main #second-banner .second-bnr{
        min-height: 550px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
        position: relative;
    }
    .home-main #second-banner .second-bnr .banner-second-section{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .home-main #second-banner .second-bnr .banner-second-section h2{
        color:#fff;
        font-size: 42px;
    }
    .home-main #second-banner .second-bnr .banner-second-section p{
        color:#fff;
        font-size: 20px;
    }

    .home-main #essential-section{
        margin: 40px auto;
    }
    .home-main #essential-section #essential-left{
        position:relative;
    }
    .home-main #essential-section #essential-left .essntial-desc{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .home-main #essential-section #essential-left .essntial-desc .btn,
    .home-main #gift-section #gift-left .gift-desc .btn{
        font-size: 20px;
        color: #212529;
        border-color: #212529;
        padding: 12px 15px 15px 15px;
        display: inline-block;
        height: auto;
        line-height: 1;
        border-radius: 26px;
    }
    .home-main #essential-section #essential-left .essntial-desc .btn:hover,
    .home-main #gift-section #gift-left .gift-desc .btn:hover{
        color: #fff;
        background: #212529;
    }
    .home-main #essential-section #essential-left img{
        width: 100%;
    }
    .home-main #essential-section #essential-right{
        padding: 0;
    }
    .home-main #essential-section #essential-right img{
        width: 100%;
    }

    .home-main #gift-section{
        margin: 40px auto;
        width: 100%;
        max-width: 1140px;
    }
    .home-main #gift-section #gift-left{
        position:relative;
    }
    .home-main #gift-section #gift-left .gift-desc{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .home-main #gift-section #gift-left img{
        width: 100%;
        height: 100%;
    }
    .home-main #gift-section #gift-right{
        padding: 0;
    }
    .home-main #gift-section #gift-right img{
        width: 100%;
        height: 100%;
    }

    @media all and (max-width: 700px){
        .home-main #main-banner .home-bnr .home-banner-first-section {
            width: 100%;
            padding: 0 15px;
        }
        .home-main #main-banner .home-bnr .home-banner-first-section h2 {
            font-size: 34px;
        }
        .home-main #second-banner .second-bnr .banner-second-section {
            width: 100%;
            padding: 0 15px;
        }
        .home-main #second-banner .second-bnr .banner-second-section h2 {
            font-size: 34px;
        }
        .home-main #essential-section #essential-left .essntial-desc {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            margin: 50px 0;
        }
        .home-main #gift-section #gift-left .gift-desc {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            margin: 50px 0;
        }

    }


    /***********/

    #main-banner {
        position: relative;
        text-align: center;
        color: white;
        width: 100%;
        max-width: 1140px;
        margin: 35px auto 0;
    }

    #main-banner .bnr-left,
    #main-banner .bnr-right {
        min-height: 402px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
    }

    #main-banner .bnr-left {
        width: 63%;
        float: left;
        position: relative;
    }

    #main-banner .bnr-right {
        width: 37%;
        float: right;
        position: relative;
    }

    /* Bottom left text */
    #main-banner-first-section {
        text-align: left;
        position: absolute;
        bottom: 50px;
        left: 393px;
    }

    /* Bottom right text */
    #main-banner-second-section {
        text-align: left;
        position: absolute;
        bottom: 50px;
        right: 20px;
    }

    .main-banner-section-text {
        /* width: 256.6px; */
        /* height: 75.3px; */
        font-family: futura-pt, sans-serif;
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #ffffff;
        display: block;
        margin-bottom: 18px;
    }

    #main-banner .main-banner-btn {
        /* width: 106.7px; */
        height: 34px;
        object-fit: contain;
        border-radius: 16px;
        margin-top: 10px;
        padding: 0 15px;
        color: #c3c1c1;
        border-color: #c3c1c1;
    }

    #main-banner .main-banner-btn:hover {
        background: #c3c1c1;
        color: #212529;
    }

    #main-banner .main-banner-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, .3);
    }

    .hastags {
        /* width: 33px; */
        /* height: 18px; */
        display: inline-block;
        font-family: futura-pt, sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }

    .hastags+.hastags {
        display: inline-block;
        margin-left: 18px;
    }

    #essential-left .main-banner-btn,
    #essential-right .main-banner-btn {
        /* width: 106.7px; */
        height: 33px;
        object-fit: contain;
        border-radius: 16px;
        margin-top: 20px;
        padding: 0 15px;
        color: #212529;
        border-color: #212529;
    }

    #essential-left .main-banner-btn:hover,
    #essential-right .main-banner-btn:hover {
        background: #212529;
        color: #ffffff;
    }

    #essential-right-text-container,
    #essential-left-text-container {
        display: inline-block;
        text-align: center;
        width: 37%;
    }

    #essential-section {
        width: 100%;
        max-width: 1140px;
        margin: 40px auto 0;
    }

    #essential-left {
        box-shadow: rgba(0, 0, 0, 0.1) 12px 2px 25px 0px;
    }

    #essential-right {
        box-shadow: rgba(0, 0, 0, 0.1) -12px 2px 25px 0px;
    }

    #essential-section #essential-left-text-container,
    #essential-section #essential-right-text-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 5px;
    }

    #essential-section .essential-title {
        display: block;
        position: relative;
        margin-bottom: 18px;
        font-family: futura-pt, sans-serif;
        font-size: 32px;
        font-weight: 300;
    }

    #essential-section .essential-title::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background: #b1b110;
    }

    #essential-section .essential-text {
        display: block;
        position: relative;
        margin-bottom: 15px;
        font-size: 14px;
    }

    #get-inspired {
        width: 100%;
        max-width: 1140px;
        margin: 40px auto 0;
    }

    #get-inspired .get-inspired-wrap {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 5px;
    }

    #get-inspired .get-inspired-title {
        display: block;
        position: relative;
        margin-bottom: 18px;
        font-family: futura-pt, sans-serif;
        font-size: 32px;
        font-weight: 300;
        color: #181818;
    }

    #get-inspired .get-inspired-title::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background: #b1b110;
    }

    #get-inspired .get-inspired-text {
        font-size: 12px;
        line-height: 1.67;
        margin-bottom: 20px;
        display: block;
        color: #181818;
    }

    #get-inspired .flex-prev,
    #get-inspired .flex-next,
    #new-arrivals .flex-prev,
    #new-arrivals .flex-next {
        width: 34px;
        height: 34px;
        font-size: 12px;
        background-color: #fff;
        color: #737373;
        border: 1px solid #afabab;
        border-radius: 26px;
        transition: 0.3s;
        display: inline-block;
        text-align: center;
        line-height: 30px;
    }

    #get-inspired .flex-prev:hover,
    #get-inspired .flex-next:hover,
    #new-arrivals .flex-prev:hover,
    #new-arrivals .flex-next:hover {
        background-color: #181818;
        color: #ffffff;
        border-color: #181818;
    }

    #get-inspired .get-inspired-slide-text-section .get-inspired-slide-title {
        font-size: 14px;
        text-align: center;
        color: #181818;
        margin-top: 10px;
        display: block;
    }

    #get-inspired .get-inspired-slide-text-section a {
        font-size: 12px;
        color: #737373;
        text-decoration: underline;
    }

    #get-inspired .get-inspired-slide-text-section a:hover {
        text-decoration: none;
    }

    #new-arrivals {
        text-align: center;
        border-top: 1px solid #a59f9f;
        margin-top: 80px;
    }

    #new-arrivals .arrival-container {
        margin-top: 50px;
        position: relative;
    }

    #new-arrivals .flex-prev,
    #new-arrivals .flex-next {
        position: absolute;
        left: 125px;
        top: 52%;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .3);
    }

    #new-arrivals .flex-next {
        left: auto;
        right: 125px;
    }

    #new-arrivals #arrival {
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
    }

    .new-arrival-title {
        display: block;
        font-size: 32px;
        font-weight: 300;
        color: #181818;
        position: relative;
        text-align: center;
    }

    .new-arrival-title::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background: #b1b110;
    }

    .womens-carousel {
        padding: 40px 0 50px;
    }

    .womens-carousel .shop-instagram #arrival {
        margin: 0;
    }

    #womens-arrival-carousel {
        width: 100%;
        max-width: 1140px;
        margin: 40px auto 0;
    }

    #womens-arrival-carousel .slides {
        margin: 0;
        padding: 0;
    }

    #womens-arrival-carousel .slides li {
        margin-left: -6px;
    }

    .arrival-slide-text-section .arrival-slide-title {
        font-size: 12px;
        text-align: center;
        color: #181818;
        margin-top: 10px;
        display: block;
    }

    .arrival-slide-text-section a {
        font-size: 12px;
        color: #181818;
    }

    div#get-inspired-text-section {
        width: 18.64%;
        text-align: center;
    }

    #get-inspired-carousel {
        width: 72%;
        margin-left: 3%;
    }

    li.get-inspired-slide-container {
        margin-left: 20px;
        text-align: center;
    }

    div#arrival-text-section {
        width: 18.64%;
        text-align: center;
    }

    #arrival-carousel {
        width: 72%;
        margin-left: 3%;
    }

    li.arrival-slide-container {
        margin-left: 20px;
        text-align: center;
    }

    .slick-slide img {
        display: inline;
    }
</style>
<script type="text/javascript">
    $(window).load(function () {
        $('.get-inspired-carousel').slick({
            infinite: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            nextArrow: $('#flex-next-get-inspired'),
            prevArrow: $('#flex-prev-get-inspired')
        });

        {% for arrival in data.new_arrivals %}
        $('.arrival-carousel-{{loop.index0}}').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 4,
            prevArrow: $('#flex-prev-new-arrival-{{loop.index0}}'),
            nextArrow: $('#flex-next-new-arrival-{{loop.index0}}'),
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
        {% endfor %}
    
		const intent = window.localStorage.intent;
        if(intent === 'Watches'){
            var watchesContent = getWatchesContent();
            var contentElements = watchesContent.split('+')
            document.getElementById("personalized-text").innerHTML = contentElements[0];
            document.getElementById("personalized-image").innerHTML = contentElements[1];
            document.getElementById("personalized-button").innerHTML = contentElements[2];
        }	
	}
	);
</script>
{% endblock %}
