{% extends "index.html" %}
{% block content %}
<script type="text/javascript">
$(window).load(function () {
  $('.popupCloseButton').click(function(){
      $('.hover_bkgr_fricc').hide();
  window.open('/','_self');
  });
});
async function createOrder(){
if(!$('#fname').val() && !$('#email').val() && !$('#cname').val() && !$('#adr').val()){
  return alert("Required Fields Missing");
}
try {
  let storeData = JSON.parse(window.localStorage.CURBSIDE_STORE_SELECTED);
  let order = await fetch('/createOrder',{
    method:"POST",
    headers: {
          'Content-Type': 'application/json',
    },
    body:JSON.stringify({id:`{{cartId}}`, storeId:storeData.storeKey})
  })
  let orderResponse = await order.json();
  if(orderResponse.status ==200){
    document.getElementById("billingName").innerHTML = document.getElementById("fname").value; 
    document.getElementById("orderId").innerHTML = orderResponse.orderNumber; 
    document.getElementById("orderStore").innerHTML = storeData.name;
    document.getElementById("orderTime").innerHTML = storeData.time; 
    document.getElementById("orderDate").innerHTML = storeData.date; 
    $('.hover_bkgr_fricc').show();
    window.localStorage.clear();      
  }else {
    alert("Could not create order. Please try again later"+orderResponse.err.message);
  }
}catch(err){
  alert("Could not create order. Please try again later Error"+err);
}  
}
</script>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
font-family: Arial;
font-size: 17px;
padding: 0px;
}

* {
box-sizing: border-box;
}

.row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
margin: 0 -16px;
}

.col-25 {
-ms-flex: 25%; /* IE10 */
flex: 25%;
}

.col-50 {
-ms-flex: 50%; /* IE10 */
flex: 50%;
}

.col-75 {
-ms-flex: 75%; /* IE10 */
flex: 75%;
}

.col-25,
.col-50,
.col-75 {
padding: 0 16px;
}

.bill {
margin-left: 25%;
margin-top: 60px;
font-size: 25px;
font-weight: 500;
}
.container {
background-color: #f2f2f2;
padding: 5px 20px 15px 20px;
border: 1px solid lightgrey;
border-radius: 3px;
width: 50%;
margin-top: 15px;
margin-left: 25%;
}

input[type=text],[type=email] {
width: 100%;
margin-bottom: 20px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
}

label {
margin-bottom: 10px;
display: block;
}

.icon-container {
margin-bottom: 20px;
padding: 7px 0;
font-size: 24px;
}

.btn {
background-color: #4CAF50;
color: white;
padding: 12px;
margin: 10px 0;
border: none;
width: 100%;
border-radius: 3px;
cursor: pointer;
font-size: 22px;
}

.btn:hover {
background-color: #45a049;
}

a {
color: #2196F3;
}

hr {
border: 1px solid lightgrey;
}

span.price {
float: right;
color: grey;
}

.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
.orderConfirmationText{
  text-align: left;
}

.orderConfirmationModal{
    width:80vw !important;
    top:-15vh !important;;
}
.payment-page{
  font-family: futura-pt, sans-serif !important;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
.row {
  flex-direction: column-reverse;
}
.col-25 {
  margin-bottom: 20px;
}
.container {
width: auto;
margin-left: auto;
}  
.hover_bkgr_fricc {
width: 100%;
margin-left: auto;
} 
}
</style>
</head>
<body> 

<div>
<div class="hover_bkgr_fricc">
  <span class="helper"></span>
  <div class="orderConfirmationModal">
      <div class="popupCloseButton">&times;</div>
      <h5>Thank you <span id="billingName"></span> for the order.</h5>
      <p>Your order #<span id="orderId"></span> will be ready for pickup at <span id="orderStore"></span> store at <span id="orderTime"></span> on <span id="orderDate"></span></p>      
  </div>
</div>
<div class="col-75 payment-page">
    <div id="total-price" class="bill"></div>
  <div class="container">
    <form>
    
      <div class="row">
        <div class="col-50">
          <h3>Billing Address</h3>
          <label for="fname"><i class="fa fa-user"></i> Full Name</label>
          <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
          <label for="email"><i class="fa fa-envelope"></i> Email</label>
          <input type="email" id="email" name="email" placeholder="john@example.com" required>
          <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
          <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" required>
          <label for="city"><i class="fa fa-institution"></i> City</label>
          <input type="text" id="city" name="city" placeholder="New York">

          <div class="row">
            <div class="col-50">
              <label for="state">State</label>
              <input type="text" id="state" name="state" placeholder="NY">
            </div>
            <div class="col-50">
              <label for="zip">Zip</label>
              <input type="text" id="zip" name="zip" placeholder="10001">
            </div>
          </div>
        </div>

        <div class="col-50">
          <h3>Payment</h3>
          <label for="fname">Accepted Cards</label>
          <div class="icon-container">
            <i class="fa fa-cc-visa" style="color:navy;"></i>
            <i class="fa fa-cc-amex" style="color:blue;"></i>
            <i class="fa fa-cc-mastercard" style="color:red;"></i>
            <i class="fa fa-cc-discover" style="color:orange;"></i>
          </div>
          <label for="cname">Name on Card</label>
          <input type="text" id="cname" name="cardname" placeholder="John More Doe" required>
          <label for="ccnum">Credit card number</label>
          <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" required>
          <label for="expmonth">Expiry Month</label>
          <input type="text" id="expmonth" name="expmonth" placeholder="September" required>
          <div class="row">
            <div class="col-50">
              <label for="expyear">Exp Year</label>
              <input type="text" id="expyear" name="expyear" placeholder="2021"  required>
            </div>
            <div class="col-50">
              <label for="cvv">CVV</label>
              <input type="text" id="cvv" name="cvv" placeholder="352" required>
            </div>
          </div>
        </div>
        
      </div>
      
      <input id="submit" onclick="createOrder()" type="button" value="Place Order" class="btn">
    </form>
  </div>
</div>
</div>

</body>
</html>

<script>
(function(){
  let price = 0;
  if(window.localStorage.simpleCart_items){
    let cartItems = JSON.parse(window.localStorage.simpleCart_items);
    Object.keys(cartItems).map((item)=>{
      price += cartItems[item].price*cartItems[item].quantity;
    })
    if(price)
      document.getElementById("total-price").innerHTML = `Total price $${price}`;
  }
})();
</script> 
{% endblock %}

